.ifo_column-one {
  padding: 1rem;
  flex-basis: 50%;
}

.ifo_column-two {
  padding: 1rem;
  flex-basis: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ifo_col-two-noflex {
  padding: 1rem;
  flex-basis: 50%;
  text-align: left;
  width: 50%;
}

.ifo_col-two-img {
  padding: 1rem;
  flex-basis: 50%;
  text-align: left;
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

.ifo_img-col {
  width: 100%;
}

/*################################################################################################################*/
/*################################################################################################################*/
/*########################################                PIED DE PAGE                    ###############################################*/
/*################################################################################################################*/
/*################################################################################################################*/

.ifo_container {
  display: flex;
  flex-wrap: wrap;
}

.ifo_gradient {
  flex-basis: 100%;
  height: 5px;
  background: linear-gradient(
    91deg,
    rgba(218, 71, 26, 1) 5%,
    rgba(46, 90, 162, 1) 26%,
    rgba(30, 81, 65, 1) 51%,
    rgba(100, 169, 127, 1) 75%,
    rgba(66, 159, 52, 1) 93%
  );
}

.ifo_column1 p,
.ifo_column3 p {
  font-size: 80%; /* Taille de base du texte (3% de la largeur de la fenêtre) */
}

.ifo_column3 p {
  font-size: 80%; /* Taille de base du texte (3% de la largeur de la fenêtre) */
  text-align: right; /* Alignement à droite */
}

.ifo_column1 {
  flex: 1 1 calc(50% - 20px);

  padding: 15px;
  background-color: #ffffff;
  overflow: hidden;
  display: flex;
  /* flex-direction: column; */
  align-items: flex-start; /* Centrer horizontalement */
}

.ifo_column3 {
  flex: 1 1 calc(50% - 20px);
  overflow: hidden;
  display: flex;
  justify-content: flex-end; /* Centrer verticalement */
  /* text-align: center; Centrer le texte horizontalement */
  /* background-color: aqua; */
}

.ifo_column1 img,
.ifo_column3 img {
  max-width: 60%;
}

.subcol {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  text-align: right;
  /* background-color: #7f8464; */
  overflow: hidden;
}

.subcol > p {
  flex-basis: 70%;
}

.subcol > .pic {
  max-width: 50%;
}

@media (max-width: 768px) {
  .ifo_column1 img,
  .ifo_column3 img {
    max-width: 50%;
  }

  .ifo_column2 {
    display: none;
  }

  .ifo_container {
    flex-direction: column;
  }

  .ifo_column1 {
    flex: 1 1 calc(33.33% - 20px);
    padding-top: 20px;
    padding-bottom: 20px;
    /* background-color: #9d3131; */
    /* overflow: hidden; */
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrer horizontalement */
    justify-content: center; /* Centrer verticalement */
    text-align: center;
  }

  .ifo_column3 {
    flex: 1 1 calc(33.33% - 20px);
    padding: 0;
    /* background-color: #926b6b; */
    /* overflow: hidden; */
    display: flex;
    align-items: center; /* Centrer horizontalement */
    justify-content: center; /* Centrer verticalement */
    text-align: center;
  }

  .subcol {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* background-color: #7f8464; */
    overflow: hidden;
  }
}

@media (max-width: 576px) {
  .ifo_column1 img,
  .ifo_column3 img {
    max-width: 35%;
  }

  .ifo_container {
    flex-direction: column;
  }
}

/*################################################################################################################*/

/* ++++++++++++++++++++++++++++++++++++++++++++++++ Extra small devices (portrait phones, less than 576px) */
@media (min-width: 576px) {
  .ifo_two-cols {
    display: flex;
    padding: 1rem;
    flex-basis: 99%;
    flex-direction: column;
    justify-content: center;
    background-color: #f0f0f0;
  }

  /* Styles spécifiques pour les écrans XS et supérieurs */
}

/* +++++++++++++++++++++++++++++++++++++++++++++++ Small devices (landscape phones, 576px and up) */
@media (min-width: 768px) {
  /* Styles spécifiques pour les écrans SM et supérieurs */
}

/* +++++++++++++++++++++++++++++++++++++++++++++++ Medium devices (tablets, 768px and up) */
@media screen and (min-width: 992px) {
  .ifo_two-cols {
    display: flex;
    padding: 1rem;
    flex-direction: row;
  }
}

/* ++++++++++++++++++++++++++++++++++++++++++++++++ Large devices (desktops, 992px and up) */
@media (min-width: 1200px) {
  /* Styles spécifiques pour les écrans LG et supérieurs */
}

/***********************************************************************************************************/

/***** SNIPPET RESPONSIVE *****/

/*** SNIPPET 1, 2 et 3 - Description de l'activité (vignette) ***/

/***** SNIPPET RESPONSIVE *****/

/*** SNIPPET 1, 2 et 3 - Description de l'activité (vignette) ***/

@media screen and (max-width: 1279px) {
  .bloc_texte_s1,
  .bloc_texte_s2,
  .bloc_texte_s3 {
    display: flex;
    flex-wrap: wrap;
  }
}

/*** SNIPPET 7 - Contenu éditorial (texte) ***/

@media screen and (max-width: 1279px) {
  .texte {
    width: 100% !important;
  }
}

/*** SNIPPET 11 - Contenu éditorial 3 blocs (images au dessus, titres) ***/

@media screen and (max-width: 1279px) {
  .snippet_bloc_image_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: inherit;
    flex-direction: column;
  }

  .bloc_image_1 {
    width: 100% !important;
  }

  .bloc_image_2,
  .bloc_image_3 {
    width: 100% !important;
    margin-left: 0 !important;
    margin-top: 15px !important;
  }
}
/********** Element à faire disparaître **********/
.themelicence,
.courseprogresslicence {
  display: none;
}
