.ifo_column-one {
  padding: 20px;
  flex-basis: 50%;

  background-color: #f0f0f0;
}

.ifo_column-two {
  padding: 20px;
  flex-basis: 50%;
  background-color: #e0e0e0;
}

/* ++++++++++++++++++++++++++++++++++++++++++++++++ Extra small devices (portrait phones, less than 576px) */
@media screen and (min-width: 576px) {
  .ifo_two-cols {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  /* Styles spécifiques pour les écrans XS et supérieurs */
}

/* +++++++++++++++++++++++++++++++++++++++++++++++ Small devices (landscape phones, 576px and up) */
@media (min-width: 768px) {
  /* Styles spécifiques pour les écrans SM et supérieurs */
}

/* +++++++++++++++++++++++++++++++++++++++++++++++ Medium devices (tablets, 768px and up) */
@media screen and (min-width: 992px) {
  .ifo_two-cols {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}

/* ++++++++++++++++++++++++++++++++++++++++++++++++ Large devices (desktops, 992px and up) */
@media (min-width: 1200px) {
  /* Styles spécifiques pour les écrans LG et supérieurs */
}

/***********************************************************************************************************/

/***** SNIPPET RESPONSIVE *****/

/*** SNIPPET 1, 2 et 3 - Description de l'activité (vignette) ***/

/***** SNIPPET RESPONSIVE *****/

/*** SNIPPET 1, 2 et 3 - Description de l'activité (vignette) ***/

@media screen and (max-width: 1279px) {
  .bloc_texte_s1,
  .bloc_texte_s2,
  .bloc_texte_s3 {
    display: flex;
    flex-wrap: wrap;
  }
}

/*** SNIPPET 7 - Contenu éditorial (texte) ***/

@media screen and (max-width: 1279px) {
  .texte {
    width: 100% !important;
  }
}

/*** SNIPPET 11 - Contenu éditorial 3 blocs (images au dessus, titres) ***/

@media screen and (max-width: 1279px) {
  .snippet_bloc_image_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: inherit;
    flex-direction: column;
  }

  .bloc_image_1 {
    width: 100% !important;
  }

  .bloc_image_2,
  .bloc_image_3 {
    width: 100% !important;
    margin-left: 0 !important;
    margin-top: 15px !important;
  }
}
/********** Element à faire disparaître **********/
.themelicence,
.courseprogresslicence {
  display: none;
}
