.ifo_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}
.ifo_column {
  flex-basis: calc(33% - 10px); /* Ajustez selon vos besoins */
  margin-bottom: 2rem;
}
.ifo_column img {
  max-width: 100%;
  height: auto;
}
@media (max-width: 768px) {
  .ifo_container {
    flex-direction: column;
  }
  .ifo_column {
    flex-basis: 100%;
  }
}


.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .column {
    margin-bottom: 20px;
  }
  .column img {
    max-width: 100%;
    height: auto;
  }
  @media (min-width: 768px) {
    .container {
      justify-content: space-between;
    }
    .column {
      flex-basis: calc(33.33% - 10px); /* Ajustez selon vos besoins */
    }
  }
  @media (max-width: 768px) {
    .container {
      flex-direction: column;
    }
    .column {
      flex-basis: 100%;
    }
    .center-column {
      display: none;
    }
  }

/* NE PAS AFFICHER LE GLOBE (lien lms) */
ul.socials footer-contact {
  display: none;
}



footer .col-md-4 {
    display: none;
  }