.deg {
  background: rgb(218, 71, 26);
  background: linear-gradient(
    91deg,
    rgba(218, 71, 26, 1) 5%,
    rgba(46, 90, 162, 1) 26%,
    rgba(30, 81, 65, 1) 51%,
    rgba(100, 169, 127, 1) 75%,
    rgba(66, 159, 52, 1) 93%
  );
}
