/* Extra small devices (portrait phones, less than 576px) */
@media screen and (min-width: 576px) {
  .ifo_two-cols {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  /* Styles spécifiques pour les écrans XS et supérieurs */
}

/* Small devices (landscape phones, 576px and up) */
@media screen and (min-width: 768px) {
  /* Styles spécifiques pour les écrans SM et supérieurs */
}

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 992px) {
  .ifo_two-cols {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}

/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 1200px) {
  /* Styles spécifiques pour les écrans LG et supérieurs */
}
