.btn  btn-primary search-icon > .icon fa fa-search fa-fw {
  color: #fff;
}




/* COULEUR DE LOUPE */
.navbar-fhs .navbar-nav  .nav-link {
  color: #000000 ;
}


.card-deck .card{
  background-color: #000000;
  color: #e50d0d;
  border-radius: 10px;
  border: 1px solid #000000;  
  border-radius: 1rem;
  transition: box-shadow 0.3s ease; /* Ajout de transition pour une animation fluide */
}

.card-deck .card{

  color: #fff;
  border-radius: 1rem;
  border: 1px solid #ccc;  
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
 transition: box-shadow 0.2s ease; /*  transition animation fluide */
}

.card-deck .card:hover {
  box-shadow: 5px 5px 2px 10px rgba(0, 0, 0, 0.8); /* Ombre portée au survol */
}

.d-flex .align-items-start{


  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;

}



.dashboard-card-deck .dashboard-card .dashboard-card-img {
  height: 7rem;
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 1rem;
}

.dashboard-card-deck .dashboard-card .dashboard-card-img {
  height: 7rem;
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;

  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}


.card-footer dashboard-card-footer menu border-0 bg-white ml-auto {

  border-bottom-right-radius: 1rem;
}

.dashboard-card-deck .dashboard-card .dashboard-card-footer {
  padding: 0.8rem;
  margin-left: 0.8rem;
  margin-right: 0.8rem;
}