<style>
  @media (max-width: 768px) {
    div[style="display: flex; align-items: center;"] {
      flex-direction: column;
    }
    div[style="width: 50%; padding: 10px; text-align: justify;"],
    div[style="width: 50%; padding: 10px;"] {
      width: 100%;
    }
  }
</style>

<style>
  /* Extra small devices (portrait phones, less than 576px) */
  @media (min-width: 576px) {
    /* Styles spécifiques pour les écrans XS et supérieurs */
    div[style="display: flex; align-items: center;"] {
      flex-direction: column;
    }
    div[style="width: 50%; padding: 10px; text-align: justify;"],
    div[style="width: 50%; padding: 10px;"] {
      width: 100%;
    }
  }

  /* Small devices (landscape phones, 576px and up) */
  @media (min-width: 768px) {
    /* Styles spécifiques pour les écrans SM et supérieurs */
  }

  /* Medium devices (tablets, 768px and up) */
  @media (min-width: 992px) {
    /* Styles spécifiques pour les écrans MD et supérieurs */
  }

  /* Large devices (desktops, 992px and up) */
  @media (min-width: 1200px) {
    /* Styles spécifiques pour les écrans LG et supérieurs */
  }
</style>


<div class="ifo_container">
  <div class="ifo_column"><img src="https://picsum.photos/100/100" alt="Ifocop : vivre et apprendre">
  
  <p>Texte de la premi&egrave;re colonne</p>
  </div>
  <div class="ifo_column"><!-- Cette colonne est vide --></div>
  Ifocop est membre du <img src="https://picsum.photos/100/100" alt="Logo Collège de france"></div>
  <div class="ifo_container">&nbsp;</div>
  <div class="ifo_container">&nbsp;</div>