<div class="container">
  <div class="row">
    <div class="col-md-6 order-md-1 text-column">
      <div class="content">
        <h3>&Eacute;volution de Carri&egrave;re :</h3>
        <p>
          Les professionnels de l'ARH peuvent &eacute;voluer vers des postes de
          direction tels que Directeur des Ressources Humaines (DRH) ou occuper
          des postes sp&eacute;cialis&eacute;s tels que Responsable de la
          Formation, Responsable de la Gestion des Talents, ou encore Conseiller
          en Relations Sociales.
        </p>
        <ul>
          <li>
            En conclusion, le m&eacute;tier d'ARH est crucial pour assurer le
            bien-&ecirc;tre
          </li>
          <li>la r&eacute;ussite globale de l'organisation</li>
          <li>g&eacute;rant efficacement les ressources humaines.</li>
        </ul>
      </div>
    </div>
    <div class="col-md-6 order-md-2 image-column">
      <div class="content">
        <img
          class="img-fluid align-middle"
          role="presentation"
          src="college class-gris-clair.gif"
          alt=""
          width="500"
          height="500"
        />
      </div>
    </div>
  </div>
</div>
