<!-- <style>
  .ifo_container {
    display: flex;
    flex-wrap: wrap;
  }

  .ifo_gradient {
    flex-basis: 100%;
    height: 5px;
    background: linear-gradient(
      91deg,
      rgba(218, 71, 26, 1) 5%,
      rgba(46, 90, 162, 1) 26%,
      rgba(30, 81, 65, 1) 51%,
      rgba(100, 169, 127, 1) 75%,
      rgba(66, 159, 52, 1) 93%
    );
  }

  .ifo_column {
    flex: 1 1 calc(33.33% - 20px);
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #ffffff;
    overflow: hidden;
  }

  .ifo_column img {
    max-width: 30%;
    height: auto;
  }

  @media (max-width: 768px) {
    .ifo_column {
      flex-basis: 100%;
      margin-right: 0;

      /**/
    }

    .ifo_column2 {
      display: none;
    }

    .ifo_column img {
      max-width: 20%;
    }
  }

  @media (max-width: 576px) {
    .ifo_column img {
      max-width: 20%;
    }
    .ifo_column2 {
      display: none;
    }
  }
</style> -->

<style>
  .ifo_container {
    display: flex;
    flex-wrap: wrap;
  }

  .ifo_gradient {
    flex-basis: 100%;
    height: 5px;
    background: linear-gradient(
      91deg,
      rgba(218, 71, 26, 1) 5%,
      rgba(46, 90, 162, 1) 26%,
      rgba(30, 81, 65, 1) 51%,
      rgba(100, 169, 127, 1) 75%,
      rgba(66, 159, 52, 1) 93%
    );
  }

  .ifo_column1 p,
  .ifo_column3 p {
    font-size: 80%; /* Taille de base du texte (3% de la largeur de la fenêtre) */
  }

  .ifo_column3 p {
    font-size: 80%; /* Taille de base du texte (3% de la largeur de la fenêtre) */
    text-align: right; /* Alignement à droite */
  }

  .ifo_column1 {
    flex: 1 1 calc(33.33% - 20px);
    /* margin-right: 20px; */
    /* margin-bottom: 20px; */
    padding: 5px;
    background-color: #ffffff;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Centrer horizontalement */
    justify-content: flex-start; /* Centrer verticalement */
    text-align: left;
  }

  .ifo_column3 {
    flex: 1 1 calc(33.33% - 20px);
    /* margin-right: 20px; */
    margin-bottom: 20px;
    padding: 5px;
    background-color: #ffffff;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center; /* Centrer verticalement */
    /* text-align: center; Centrer le texte horizontalement */
    /* background-color: aqua; */
    text-align: left;
  }

  .ifo_column1 img,
  .ifo_column3 img {
    max-width: 80%;
  }

  .subcol {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    text-align: right;
    /* background-color: #7f8464; */
    overflow: hidden;
  }

  .subcol > p {
    flex: 2; /* Les enfants prennent la même largeur */
  }

  .subcol > .pic {
    flex: 1.5; /* Les enfants prennent la même largeur */
  }

  /* .subcol p {
  padding-right: 1rem;

} */

  .pic3 {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    text-align: center;

    overflow: hidden;
  }

  @media (max-width: 768px) {
    .ifo_column1 img,
    .ifo_column3 img {
      max-width: 50%;
    }

    .ifo_column2 {
      display: none;
    }

    .ifo_container {
      flex-direction: column;
    }

    .ifo_column1 {
      flex: 1 1 calc(33.33% - 20px);
      padding-top: 20px;
      padding-bottom: 20px;
      /* background-color: #9d3131; */
      /* overflow: hidden; */
      display: flex;
      flex-direction: column;
      align-items: center; /* Centrer horizontalement */
      justify-content: flex-start; /* Centrer verticalement */
      text-align: center;
    }

    .ifo_column3 {
      flex: 1 1 calc(33.33% - 20px);
      padding: 0;
      /* background-color: #926b6b; */
      /* overflow: hidden; */
      display: flex;
      flex-direction: column;
      align-items: center; /* Centrer horizontalement */
      justify-content: center; /* Centrer verticalement */
      text-align: center;
    }

    .subcol {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      /* background-color: #7f8464; */
      overflow: hidden;
    }
  }

  @media (max-width: 576px) {
    .ifo_column1 img,
    .ifo_column3 img {
      max-width: 35%;
    }

    .ifo_container {
      flex-direction: column;
    }
  }
</style>

<div class="ifo_container">
  <div class="ifo_column1"><!-- <p>Texte gauche</p> --> <img src="https://elearning.ifocop-experiences.fr/Nouvelle-interface/ifocop-vivre.png" alt="Logo Coll&egrave;ge de france"></div>
  <!-- <div class="ifo_column2">Cette colonne est vide</div> -->
  <div class="ifo_column3">
  <div class="subcol">
  <p>Ifocop est membre du</p>
  <div class="pic"><img src="https://elearning.ifocop-experiences.fr/Nouvelle-interface/cdp-logo-300par129.png" alt="Ifocop : vivre et apprendre"></div>
  </div>
  <p>&nbsp;</p>
  </div>
  </div>


