<style>

.ifo_container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2rem;
  }

  .ifo_gradient {
    flex-basis: 100%;
    height: 5px;
    background: linear-gradient(
      91deg,
      rgba(218, 71, 26, 1) 5%,
      rgba(46, 90, 162, 1) 26%,
      rgba(30, 81, 65, 1) 51%,
      rgba(100, 169, 127, 1) 75%,
      rgba(66, 159, 52, 1) 93%
    );
  }

  .ifo_column1 p,
  .ifo_column3 p {
    font-size: 1.5rem; 
    text-align: right; /* Alignement à droite */
  }


  .dashboard-card-deck .dashboard-card .dashboard-card-img {
  height: 7rem;
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.dashboard-card-deck .dashboard-card .dashboard-card-img {
  height: 7rem;
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.dashboard-card-img {

background: center/cover;
border-radius: 1rem 1rem 0 0; /* arrondi seulement en haut */
}


  .ifo_column1 {
    flex: 1 1 calc(50% - 20px);


    padding: 15px;
    background-color: #ffffff;
    overflow: hidden;
    display: flex;
    /* flex-direction: column; */
    align-items: flex-start; /* Centrer horizontalement */
 

  }



  .ifo_column3 {
    flex: 1 1 calc(50% - 20px);
    overflow: hidden;
    display: flex;
    justify-content: flex-end; /* Centrer verticalement */
    /* text-align: center; Centrer le texte horizontalement */
    /* background-color: aqua; */


  }

  .ifo_column1 img,
  .ifo_column3 img {
    max-width: 60%;
  }



  .subcol {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  text-align: right;
  /* background-color: #7f8464; */
  overflow: hidden;
 
}

.subcol > p {
flex-basis: 70%;
}

.subcol > .pic {
  max-width: 50%;
}


  @media (max-width: 768px) {
    .ifo_column1 img,
    .ifo_column3 img {
      max-width: 50%;
    }

    .ifo_column2 {
      display: none;
    }

    .ifo_container {
flex-direction: column;
  }

  .ifo_column1  {
    flex: 1 1 calc(33.33% - 20px);
    padding-top: 20px;
    padding-bottom: 20px;
    /* background-color: #9d3131; */
    /* overflow: hidden; */
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrer horizontalement */
    justify-content: center; /* Centrer verticalement */
    text-align: center; 
  }

.ifo_column3 {
    flex: 1 1 calc(33.33% - 20px);
padding: 0;
    /* background-color: #926b6b; */
    /* overflow: hidden; */
    display: flex;
    align-items: center; /* Centrer horizontalement */
    justify-content: center; /* Centrer verticalement */
    text-align: center; 
  }

  .subcol {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  /* background-color: #7f8464; */
  overflow: hidden;
 
}

  

  }

  @media (max-width: 576px) {
    .ifo_column1 img,
    .ifo_column3 img {
      max-width: 35%;
    }


    .ifo_container {
flex-direction: column;
  }
  }

</style>

<div class="ifo_gradient">&nbsp;</div>
<div class="ifo_container">
  <div class="ifo_column1">
    <!-- <p>Texte gauche</p> -->
    <img  class="pic"
      src="https://elearning.ifocop-experiences.fr/Nouvelle-interface/ifo-vivre-208x40.png"
      alt="Ifocop : vivre et apprendre"

    />
  </div>
  <!-- <div class="ifo_column2">Cette colonne est vide</div> -->
  <div class="ifo_column3">
    <div class="subcol">

      <p>Ifocop est membre du </p>
      <div>
        <img  class="pic"
        src="https://elearning.ifocop-experiences.fr/Nouvelle-interface/cdp-logo-300par129.png"
        alt="Logo Coll&egrave;ge de france"
    />
      </div>
    </div>

    </p>
  </div>
</div>
