 /* /////////////////////////////////////////////////////////////             POUR ALIGNER CHIIFFRES ET INTITULES     ////////////////////////////////////////////////////*/


 .course-content .stat.student {
    display: flex;

}


  /* /////////////////////////////////////////////////////////////       TEMPS PASSE  POUR ALIGNER L HORLOGER ET LES HEURES    ////////////////////////////////////////////////////*/


.course-content .statflex.time .stat {
    display: flex;
}


  /* /////////////////////////////////////////////////////////////       ELIMINER LES MARGES AUTOUR D EL HORLOGE ET DU TEMPS PASSE    ////////////////////////////////////////////////////*/

.stat >.item .mt-3 .mb-0{

    margin: 0;
}

  /* /////////////////////////////////////////////////////////////       ALIGNER HORLOGE ET TEMPS PASSE ---> temps passé à la ligne   ////////////////////////////////////////////////////*/

.course-content .statflex.time .stat {
    display: block;
}


  /* /////////////////////////////////////////////////////////////       couleur et taille de l' HORLOGE    ////////////////////////////////////////////////////*/

  .course-content .statflex.time .stat .item .fa.fa-clock-o {
    font-size: 2.5rem;
    padding-right: 15px;
    color: black;
    margin-top: 0;

}


.course-content .statflex .time .stat {
    display: block;
    margin: -17px;
    color: black;
}




 #timespent {
    color: black;
    margin-top: 1.2rem;

    margin-top: 10px;
    margin-left: 0px;
    padding-left: 40px;

}


.course-content .statflex .time .stat {
    display: block;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;

    color: black;
}

.secondary-navigation .navigation .nav-tabs {
    margin: 0;
    padding-bottom: 0;
}

.fp-blocks {
    display: none;
}

.fp-blocks .fp-blocks-bottom .c2{

display: none;

}

#page-site-index .fp-blocks, #page-course-view-topics .fp-blocks, #page-course-view-moofactory .fp-blocks, #page-course-view-social .fp-blocks, #page-course-view-weeks .fp-blocks {
    display: block;
    display: none;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 15px;
    background-color: aqua;
}

#page-site-index .fp-blocks, #page-course-view-topics .fp-blocks, #page-course-view-moofactory .fp-blocks, #page-course-view-social .fp-blocks, #page-course-view-weeks .fp-blocks {
    display: block;
height: 0;
margin: 0;
padding: 0;
}

.course-content ul.moofactory li.section ul.section {
    padding-left: 2rem;
    padding-right: 2rem;
}

.course-content .statcontainer {
    border: none;
    border-radius: 0;
    padding: 10px;
    margin-bottom: -34px;
    background-color: #fff !important;
}


.course-content .statflex.time .stat .item .fa.fa-clock-o {

    color: black;
}

@media (min-width: 400px)
 {
    .course-content ul.moofactory {
        margin : 0;

    }}


    .course-content ul.moofactory li section ul section {
        padding-left: 2rem;
        padding-right: 2rem;
        padding-top: 0;
        padding-bottom: 0;
    }