<style>
  svg#freepik_stories-webinar:not(.animated) .animable {
    opacity: 0;
  }
  svg#freepik_stories-webinar.animated #freepik--Floor--inject-5 {
    animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) zoomIn;
    animation-delay: 0s;
  }
  svg#freepik_stories-webinar.animated #freepik--Shadows--inject-5 {
    animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38)
      lightSpeedRight;
    animation-delay: 0s;
  }
  svg#freepik_stories-webinar.animated #freepik--Books--inject-5 {
    animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) lightSpeedLeft;
    animation-delay: 0s;
  }
  svg#freepik_stories-webinar.animated #freepik--graduation-cap--inject-5 {
    animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) lightSpeedLeft;
    animation-delay: 0s;
  }
  svg#freepik_stories-webinar.animated #freepik--Apple--inject-5 {
    animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) zoomOut;
    animation-delay: 0s;
  }
  svg#freepik_stories-webinar.animated #freepik--Pen--inject-5 {
    animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
    animation-delay: 0s;
  }
  svg#freepik_stories-webinar.animated #freepik--Pencil--inject-5 {
    animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
    animation-delay: 0s;
  }
  svg#freepik_stories-webinar.animated #freepik--speech-bubble--inject-5 {
    animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
    animation-delay: 0s;
  }
  svg#freepik_stories-webinar.animated #freepik--Character--inject-5 {
    animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38)
      lightSpeedRight;
    animation-delay: 0s;
  }
  @keyframes zoomIn {
    0% {
      opacity: 0;
      transform: scale(0.5);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
  @keyframes lightSpeedRight {
    from {
      transform: translate3d(50%, 0, 0) skewX(-20deg);
      opacity: 0;
    }
    60% {
      transform: skewX(10deg);
      opacity: 1;
    }
    80% {
      transform: skewX(-2deg);
    }
    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
  @keyframes lightSpeedLeft {
    from {
      transform: translate3d(-50%, 0, 0) skewX(20deg);
      opacity: 0;
    }
    60% {
      transform: skewX(-10deg);
      opacity: 1;
    }
    80% {
      transform: skewX(2deg);
    }
    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
  @keyframes zoomOut {
    0% {
      opacity: 0;
      transform: scale(1.5);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes slideLeft {
    0% {
      opacity: 0;
      transform: translateX(-30px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
</style>
<svg
  class="animated"
  id="freepik_stories-webinar"
  xmlns="http://www.w3.org/2000/svg"
  viewBox="0 0 500 500"
  version="1.1"
  xmlns:xlink="http://www.w3.org/1999/xlink"
  xmlns:svgjs="http://svgjs.com/svgjs"
>
  <g
    id="freepik--Floor--inject-5"
    class="animable"
    style="transform-origin: 250px 346.97px"
  >
    <ellipse
      id="freepik--floor--inject-5"
      cx="250"
      cy="346.97"
      rx="238.01"
      ry="141.59"
      style="fill: rgb(245, 245, 245); transform-origin: 250px 346.97px"
      class="animable"
    ></ellipse>
  </g>
  <g
    id="freepik--Shadows--inject-5"
    class="animable"
    style="transform-origin: 258.243px 337.579px"
  >
    <path
      id="freepik--Shadow--inject-5"
      d="M378.46,339.15l78.46-45.26c3.1-1.78,3.1-4.68,0-6.47L343.7,221.92a12.39,12.39,0,0,0-11.22,0L254,267.18c-3.1,1.79-3.1,4.69,0,6.47l113.22,65.5A12.39,12.39,0,0,0,378.46,339.15Z"
      style="fill: rgb(224, 224, 224); transform-origin: 355.46px 280.538px"
      class="animable"
    ></path>
    <path
      id="freepik--shadow--inject-5"
      d="M178.79,449.6,61.22,381.82c-3.31-1.91-3.31-5,0-6.92l163.57-94.45a13.26,13.26,0,0,1,12,0l117.57,67.78c3.31,1.91,3.31,5,0,6.92L190.78,449.6A13.26,13.26,0,0,1,178.79,449.6Z"
      style="fill: rgb(224, 224, 224); transform-origin: 207.79px 365.024px"
      class="animable"
    ></path>
    <ellipse
      cx="90.42"
      cy="426.74"
      rx="33.18"
      ry="19.16"
      style="fill: rgb(224, 224, 224); transform-origin: 90.42px 426.74px"
      id="elit0nxn6j4ki"
      class="animable"
    ></ellipse>
    <path
      d="M242.54,438.81l.11-.13,5.92-6.5v0l0-.05a.57.57,0,0,1,.11-.11l.06-.07h0c.85-.81,2.19-.88,3.7,0a10.23,10.23,0,0,1,4.64,8c0,1.72-.7,2.84-1.79,3.19h0l-.07,0-.33.07-.08,0h0l-8.57,1.87a2.09,2.09,0,0,1-1.5-.32,5.87,5.87,0,0,1-2.65-4.59A2.22,2.22,0,0,1,242.54,438.81Z"
      style="fill: rgb(224, 224, 224); transform-origin: 249.585px 438.212px"
      id="el8xc8wzao9xl"
      class="animable"
    ></path>
    <path
      d="M381.1,378.94,256.33,451.05l-17.28,3.52a.53.53,0,0,1-.57-.77l5.41-9.93,124.78-72.12C372.08,369.78,383.77,377.4,381.1,378.94Z"
      style="fill: rgb(224, 224, 224); transform-origin: 309.955px 413.003px"
      id="elt77cv7mvqoi"
      class="animable"
    ></path>
    <path
      id="freepik--shadow--inject-5"
      d="M310.1,437.84c1.25,3.4,4.88,5.52,10.94,6.31l108.08-62.94,11.22-11.37a.87.87,0,0,0-.89-1.44l-20.66,6.84Z"
      style="fill: rgb(224, 224, 224); transform-origin: 375.347px 406.253px"
      class="animable"
    ></path>
  </g>
  <g
    id="freepik--Books--inject-5"
    class="animable"
    style="transform-origin: 259.72px 315.671px"
  >
    <g
      id="freepik--books--inject-5"
      class="animable"
      style="transform-origin: 358.1px 260.73px"
    >
      <g
        id="freepik--Book--inject-5"
        class="animable"
        style="transform-origin: 351.08px 271.235px"
      >
        <polygon
          points="440.75 290.74 371.16 330.04 264.29 268.71 333.87 229.41 440.75 290.74"
          style="fill: rgb(186, 104, 200); transform-origin: 352.52px 279.725px"
          id="el6n4fb2rliwr"
          class="animable"
        ></polygon>
        <g id="elkfuub7rf8q">
          <polygon
            points="440.75 290.74 371.16 330.04 264.29 268.71 333.87 229.41 440.75 290.74"
            style="opacity: 0.6; transform-origin: 352.52px 279.725px"
            class="animable"
          ></polygon>
        </g>
        <path
          d="M370.4,327.17,437.65,289c-1.67-4.74-1.55-6.18.35-12.49l-66.84,37.82S369.94,314.2,370.4,327.17Z"
          style="fill: rgb(245, 245, 245); transform-origin: 404.148px 301.84px"
          id="elddliqoj12pg"
          class="animable"
        ></path>
        <path
          d="M374.42,309.11a13.47,13.47,0,0,0-6.14,10.58V328c0,3.89,2.75,5.47,6.14,3.53l66.32-37.68v-3.06l-65.48,37c-2,1.16-3.69.22-3.68-2.12l.05-7.36a8.12,8.12,0,0,1,3.7-6.35l65.4-37v-3.47Z"
          style="fill: rgb(186, 104, 200); transform-origin: 404.51px 301.925px"
          id="elnnc7i8frav"
          class="animable"
        ></path>
        <g id="elvfp7gx30pv">
          <path
            d="M374.42,309.11a13.47,13.47,0,0,0-6.14,10.58V328c0,3.89,2.75,5.47,6.14,3.53l66.32-37.68v-3.06l-65.48,37c-2,1.16-3.69.22-3.68-2.12l.05-7.36a8.12,8.12,0,0,1,3.7-6.35l65.4-37v-3.47Z"
            style="opacity: 0.5; transform-origin: 404.51px 301.925px"
            class="animable"
          ></path>
        </g>
        <path
          d="M440.74,271.44,333.87,210.11l-66.31,37.67a13.49,13.49,0,0,0-6.15,10.58v8.27c0,1.94.68,3.31,1.8,3.95L370.08,331.9c-1.12-.64-1.8-2-1.8-3.94v-8.28a13.5,13.5,0,0,1,6.14-10.58Z"
          style="
            fill: rgb(186, 104, 200);
            transform-origin: 351.075px 271.005px;
          "
          id="elrccuejzze9"
          class="animable"
        ></path>
        <g id="elth9kubrvki">
          <path
            d="M440.74,271.44,333.87,210.11l-66.31,37.67a13.49,13.49,0,0,0-6.15,10.58v8.27c0,1.94.68,3.31,1.8,3.95L370.08,331.9c-1.12-.64-1.8-2-1.8-3.94v-8.28a13.5,13.5,0,0,1,6.14-10.58Z"
            style="opacity: 0.35; transform-origin: 351.075px 271.005px"
            class="animable"
          ></path>
        </g>
        <path
          d="M370.07,313.66a12.49,12.49,0,0,0-1.8,6V328c0,1.94.68,3.3,1.8,3.94L263.21,270.58c-1.12-.64-1.8-2-1.8-3.95v-8.27a12.49,12.49,0,0,1,1.8-6Z"
          style="fill: rgb(186, 104, 200); transform-origin: 315.74px 292.15px"
          id="elqxrd9dwtdjo"
          class="animable"
        ></path>
        <g id="el9985q2qj1ea">
          <path
            d="M370.07,313.66a12.49,12.49,0,0,0-1.8,6V328c0,1.94.68,3.3,1.8,3.94L263.21,270.58c-1.12-.64-1.8-2-1.8-3.95v-8.27a12.49,12.49,0,0,1,1.8-6Z"
            style="opacity: 0.45; transform-origin: 315.74px 292.15px"
            class="animable"
          ></path>
        </g>
        <path
          d="M277.65,260.54c-2,8.65-2,12,0,18.37l5.08,2.94c-2-6.34-2-9.72,0-18.37Z"
          style="fill: rgb(186, 104, 200); transform-origin: 279.44px 271.195px"
          id="el1qj8li8mn48"
          class="animable"
        ></path>
        <path
          d="M347.74,300.82c-2,8.65-2,11.92,0,18.26l5.09,2.94c-2-6.35-2-9.62,0-18.26Z"
          style="fill: rgb(186, 104, 200); transform-origin: 349.535px 311.42px"
          id="elw299550n77l"
          class="animable"
        ></path>
      </g>
      <g
        id="freepik--book--inject-5"
        class="animable"
        style="transform-origin: 365.12px 250.538px"
      >
        <polygon
          points="454.79 270.41 385.2 309.71 278.33 248.38 347.91 209.08 454.79 270.41"
          style="fill: rgb(186, 104, 200); transform-origin: 366.56px 259.395px"
          id="ella4zzi4jr0p"
          class="animable"
        ></polygon>
        <g id="elnsteejftd4">
          <polygon
            points="454.79 270.41 385.2 309.71 278.33 248.38 347.91 209.08 454.79 270.41"
            style="opacity: 0.4; transform-origin: 366.56px 259.395px"
            class="animable"
          ></polygon>
        </g>
        <path
          d="M384.44,306.83l67.25-38.2c-1.67-4.74-1.55-6.86.34-13.17L385.2,293.27S384,293.86,384.44,306.83Z"
          style="
            fill: rgb(245, 245, 245);
            transform-origin: 418.187px 281.145px;
          "
          id="elsvlxezcqirj"
          class="animable"
        ></path>
        <path
          d="M388.46,288.09a13.5,13.5,0,0,0-6.15,10.58v8.95c0,3.89,2.75,5.47,6.15,3.52l66.32-37.67v-3.06l-65.48,37c-2,1.17-3.69.22-3.69-2.11l.06-8a8.11,8.11,0,0,1,3.69-6.35l65.41-37v-3.47Z"
          style="
            fill: rgb(186, 104, 200);
            transform-origin: 418.545px 281.228px;
          "
          id="eln945l3wxtsr"
          class="animable"
        ></path>
        <g id="elg3yar5d75u">
          <path
            d="M388.46,288.09a13.5,13.5,0,0,0-6.15,10.58v8.95c0,3.89,2.75,5.47,6.15,3.52l66.32-37.67v-3.06l-65.48,37c-2,1.17-3.69.22-3.69-2.11l.06-8a8.11,8.11,0,0,1,3.69-6.35l65.41-37v-3.47Z"
            style="opacity: 0.25; transform-origin: 418.545px 281.228px"
            class="animable"
          ></path>
        </g>
        <path
          d="M454.78,250.43,347.91,189.1l-66.32,37.67a13.47,13.47,0,0,0-6.14,10.58v9c0,1.94.68,3.3,1.8,3.94l106.87,61.33c-1.12-.64-1.8-2-1.8-3.95v-8.95a13.47,13.47,0,0,1,6.14-10.58Z"
          style="fill: rgb(186, 104, 200); transform-origin: 365.115px 250.36px"
          id="elvxeod2njf2"
          class="animable"
        ></path>
        <path
          d="M384.11,292.65a12.43,12.43,0,0,0-1.8,6v8.95c0,1.94.68,3.31,1.8,3.95L277.25,250.24c-1.12-.64-1.8-2-1.8-3.94v-9a12.43,12.43,0,0,1,1.8-6Z"
          style="fill: rgb(186, 104, 200); transform-origin: 329.78px 271.425px"
          id="el3jogqmniqqa"
          class="animable"
        ></path>
        <g id="el7c2q61ry5xi">
          <path
            d="M384.11,292.65a12.43,12.43,0,0,0-1.8,6v8.95c0,1.94.68,3.31,1.8,3.95L277.25,250.24c-1.12-.64-1.8-2-1.8-3.94v-9a12.43,12.43,0,0,1,1.8-6Z"
            style="opacity: 0.15; transform-origin: 329.78px 271.425px"
            class="animable"
          ></path>
        </g>
        <path
          d="M291.68,239.52c-2,8.65-2,12.72,0,19.06l5.09,2.94c-2-6.35-2-10.41,0-19.06Z"
          style="fill: rgb(186, 104, 200); transform-origin: 293.475px 250.52px"
          id="el0o7mto3c624"
          class="animable"
        ></path>
        <path
          d="M361.78,279.85c-2,8.65-2,12.57,0,18.91l5.09,2.94c-2-6.34-2-10.29,0-18.94Z"
          style="
            fill: rgb(186, 104, 200);
            transform-origin: 363.575px 290.775px;
          "
          id="elbv1r3vu648o"
          class="animable"
        ></path>
        <g id="el8c3lqyuajll">
          <g
            style="opacity: 0.4; transform-origin: 328.525px 270.61px"
            class="animable"
          >
            <path
              d="M291.68,239.52c-2,8.65-2,12.72,0,19.06l5.09,2.94c-2-6.35-2-10.41,0-19.06Z"
              style="
                fill: rgb(255, 255, 255);
                transform-origin: 293.475px 250.52px;
              "
              id="el58yo9r2ig0s"
              class="animable"
            ></path>
            <path
              d="M361.78,279.85c-2,8.65-2,12.57,0,18.91l5.09,2.94c-2-6.34-2-10.29,0-18.94Z"
              style="
                fill: rgb(255, 255, 255);
                transform-origin: 363.575px 290.775px;
              "
              id="elpqu2b9ykufd"
              class="animable"
            ></path>
          </g>
        </g>
      </g>
    </g>
    <g
      id="freepik--books--inject-5"
      class="animable"
      style="transform-origin: 205.555px 344.621px"
    >
      <g
        id="freepik--book--inject-5"
        class="animable"
        style="transform-origin: 212.48px 354.646px"
      >
        <polygon
          points="78.5 378.41 186.59 439.82 343.37 349.82 235.29 288.41 78.5 378.41"
          style="
            fill: rgb(186, 104, 200);
            transform-origin: 210.935px 364.115px;
          "
          id="elu6sc8p3j5go"
          class="animable"
        ></polygon>
        <g id="eld0339gez0l">
          <polygon
            points="78.5 378.41 186.59 439.82 343.37 349.82 235.29 288.41 78.5 378.41"
            style="opacity: 0.4; transform-origin: 210.935px 364.115px"
            class="animable"
          ></polygon>
        </g>
        <path
          d="M187.4,436.75,81.81,376.51c1.79-5.07,1.65-7.34-.37-14.08l105.15,59.83S187.89,422.89,187.4,436.75Z"
          style="fill: rgb(245, 245, 245); transform-origin: 134.475px 399.59px"
          id="el5zx5ccfokv3"
          class="animable"
        ></path>
        <path
          d="M183.1,416.72a14.4,14.4,0,0,1,6.57,11.3v9.56c0,4.17-2.94,5.85-6.57,3.77L78.51,381.68v-3.27l103.7,58.91c2.17,1.25,3.93.24,3.93-2.26l-.06-8.59a8.65,8.65,0,0,0-3.94-6.78L78.51,360.75v-3.7Z"
          style="fill: rgb(186, 104, 200); transform-origin: 134.09px 399.646px"
          id="el8zd8qe5prq2"
          class="animable"
        ></path>
        <g id="elw48evyw255">
          <path
            d="M183.1,416.72a14.4,14.4,0,0,1,6.57,11.3v9.56c0,4.17-2.94,5.85-6.57,3.77L78.51,381.68v-3.27l103.7,58.91c2.17,1.25,3.93.24,3.93-2.26l-.06-8.59a8.65,8.65,0,0,0-3.94-6.78L78.51,360.75v-3.7Z"
            style="opacity: 0.3; transform-origin: 134.09px 399.646px"
            class="animable"
          ></path>
        </g>
        <path
          d="M78.51,357.05l156.78-90,104.59,59.67a14.4,14.4,0,0,1,6.57,11.3v9.56c0,2.08-.73,3.54-1.92,4.22l-156.79,90c1.19-.68,1.92-2.15,1.92-4.22V428a14.41,14.41,0,0,0-6.56-11.3Z"
          style="fill: rgb(186, 104, 200); transform-origin: 212.48px 354.425px"
          id="el6lj903vw16"
          class="animable"
        ></path>
        <g id="el2twhxes60cj">
          <path
            d="M78.51,357.05l156.78-90,104.59,59.67a14.4,14.4,0,0,1,6.57,11.3v9.56c0,2.08-.73,3.54-1.92,4.22l-156.79,90c1.19-.68,1.92-2.15,1.92-4.22V428a14.41,14.41,0,0,0-6.56-11.3Z"
            style="opacity: 0.2; transform-origin: 212.48px 354.425px"
            class="animable"
          ></path>
        </g>
        <path
          d="M187.75,421.59a13.27,13.27,0,0,1,1.92,6.43v9.57c0,2.07-.73,3.54-1.92,4.22l156.79-90c1.19-.68,1.92-2.14,1.92-4.22V338a13.37,13.37,0,0,0-1.92-6.43Z"
          style="fill: rgb(186, 104, 200); transform-origin: 267.105px 386.69px"
          id="eljq7dgw1cr1h"
          class="animable"
        ></path>
        <path
          d="M187.75,421.59a13.23,13.23,0,0,1,1.92,6.43v9.57c0,2.07-.73,3.53-1.92,4.22l156.78-90c1.2-.68,1.92-2.15,1.93-4.22V338a13.23,13.23,0,0,0-1.92-6.43Z"
          style="fill: rgb(186, 104, 200); transform-origin: 267.105px 386.69px"
          id="elcfv204qqqo"
          class="animable"
        ></path>
        <path
          d="M329.1,340.36c2.13,9.24,2.1,13.58,0,20.36l-5.44,3.14c2.1-6.78,2.13-11.12,0-20.36Z"
          style="fill: rgb(186, 104, 200); transform-origin: 327.173px 352.11px"
          id="el8hlah19ph1h"
          class="animable"
        ></path>
        <path
          d="M211.61,407.89c2.13,9.24,2.1,13.45,0,20.23l-5.43,3.11c2.09-6.78,2.12-11,0-20.22Z"
          style="fill: rgb(186, 104, 200); transform-origin: 209.688px 419.56px"
          id="elzlcwpueffi"
          class="animable"
        ></path>
        <g id="elukkecjgj03g">
          <g
            style="opacity: 0.4; transform-origin: 268.433px 385.795px"
            class="animable"
          >
            <path
              d="M329.1,340.36c2.13,9.24,2.1,13.58,0,20.36l-5.44,3.14c2.1-6.78,2.13-11.12,0-20.36Z"
              style="
                fill: rgb(255, 255, 255);
                transform-origin: 327.173px 352.11px;
              "
              id="elusyxm2iryq"
              class="animable"
            ></path>
            <path
              d="M211.61,407.89c2.13,9.24,2.1,13.45,0,20.23l-5.43,3.11c2.09-6.78,2.12-11,0-20.22Z"
              style="
                fill: rgb(255, 255, 255);
                transform-origin: 209.688px 419.56px;
              "
              id="elct49p7a5drr"
              class="animable"
            ></path>
          </g>
        </g>
      </g>
      <g
        id="freepik--book--inject-5"
        class="animable"
        style="transform-origin: 198.63px 334.236px"
      >
        <polygon
          points="64.65 357.64 172.74 419.05 329.52 329.05 221.44 267.64 64.65 357.64"
          style="
            fill: rgb(186, 104, 200);
            transform-origin: 197.085px 343.345px;
          "
          id="el9ewk4zi0fk9"
          class="animable"
        ></polygon>
        <g id="elwvk4mnzu46n">
          <polygon
            points="64.65 357.64 172.74 419.05 329.52 329.05 221.44 267.64 64.65 357.64"
            style="
              fill: rgb(255, 255, 255);
              opacity: 0.2;
              transform-origin: 197.085px 343.345px;
            "
            class="animable"
          ></polygon>
        </g>
        <path
          d="M173.55,416,68,355.74c1.79-5.07,1.65-6.61-.37-13.35l105.15,59.82S174,402.12,173.55,416Z"
          style="fill: rgb(245, 245, 245); transform-origin: 120.64px 379.195px"
          id="elwgnnipyb1cr"
          class="animable"
        ></path>
        <path
          d="M169.25,396.68a14.4,14.4,0,0,1,6.57,11.3v8.83c0,4.17-2.94,5.85-6.57,3.77L64.66,360.91v-3.27l103.7,58.91c2.17,1.25,3.93.24,3.93-2.26l-.06-7.86a8.67,8.67,0,0,0-3.94-6.79L64.66,340.71V337Z"
          style="fill: rgb(186, 104, 200); transform-origin: 120.24px 379.236px"
          id="el857nu99ljql"
          class="animable"
        ></path>
        <g id="el5004pp6uxbl">
          <path
            d="M169.25,396.68a14.4,14.4,0,0,1,6.57,11.3v8.83c0,4.17-2.94,5.85-6.57,3.77L64.66,360.91v-3.27l103.7,58.91c2.17,1.25,3.93.24,3.93-2.26l-.06-7.86a8.67,8.67,0,0,0-3.94-6.79L64.66,340.71V337Z"
            style="
              fill: rgb(255, 255, 255);
              opacity: 0.4;
              transform-origin: 120.24px 379.236px;
            "
            class="animable"
          ></path>
        </g>
        <path
          d="M64.65,337l156.79-90L326,306.68A14.42,14.42,0,0,1,332.6,318v8.83c0,2.08-.73,3.54-1.93,4.22L173.89,421c1.19-.69,1.92-2.15,1.92-4.22V408a14.43,14.43,0,0,0-6.56-11.31Z"
          style="fill: rgb(186, 104, 200); transform-origin: 198.625px 334px"
          id="elyfub3jmgrar"
          class="animable"
        ></path>
        <g id="elid5gah723db">
          <path
            d="M64.65,337l156.79-90L326,306.68A14.42,14.42,0,0,1,332.6,318v8.83c0,2.08-.73,3.54-1.93,4.22L173.89,421c1.19-.69,1.92-2.15,1.92-4.22V408a14.43,14.43,0,0,0-6.56-11.31Z"
            style="
              fill: rgb(255, 255, 255);
              opacity: 0.85;
              transform-origin: 198.625px 334px;
            "
            class="animable"
          ></path>
        </g>
        <path
          d="M173.9,401.55a13.23,13.23,0,0,1,1.92,6.43v8.84c0,2.07-.73,3.53-1.92,4.22l156.78-90c1.2-.68,1.93-2.14,1.93-4.22V318a13.25,13.25,0,0,0-1.93-6.43Z"
          style="
            fill: rgb(186, 104, 200);
            transform-origin: 253.255px 366.305px;
          "
          id="el1j61xrwkjxk"
          class="animable"
        ></path>
        <g id="elh1a48lkxjp">
          <path
            d="M173.9,401.55a13.23,13.23,0,0,1,1.92,6.43v8.84c0,2.07-.73,3.53-1.92,4.22l156.78-90c1.2-.68,1.93-2.14,1.93-4.22V318a13.25,13.25,0,0,0-1.93-6.43Z"
            style="
              fill: rgb(255, 255, 255);
              opacity: 0.6;
              transform-origin: 253.255px 366.305px;
            "
            class="animable"
          ></path>
        </g>
        <path
          d="M315.25,320.32c2.13,9.24,2.1,12.85,0,19.63l-5.44,3.14c2.1-6.78,2.13-10.39,0-19.64Z"
          style="
            fill: rgb(255, 255, 255);
            transform-origin: 313.323px 331.705px;
          "
          id="elgl9quore7zs"
          class="animable"
        ></path>
        <path
          d="M197.76,387.82c2.13,9.24,2.1,12.74,0,19.52l-5.44,3.13c2.1-6.77,2.13-10.27,0-19.51Z"
          style="
            fill: rgb(255, 255, 255);
            transform-origin: 195.833px 399.145px;
          "
          id="el5uqdu5tfsne"
          class="animable"
        ></path>
      </g>
    </g>
  </g>
  <g
    id="freepik--graduation-cap--inject-5"
    class="animable"
    style="transform-origin: 360.295px 201.795px"
  >
    <g
      id="freepik--graduation-cap--inject-5"
      class="animable"
      style="transform-origin: 360.295px 201.795px"
    >
      <path
        d="M307.85,195.93v40.7c0,5.86,5.15,11.72,15.37,16.19,20.48,9,53.69,9,74.17,0,10.25-4.49,15.36-10.36,15.36-16.24V195.93h0c.12-6-5-11.9-15.35-16.44-20.48-9-53.69-9-74.17,0C312.85,184,307.74,190,307.86,195.93Z"
        style="fill: rgb(55, 71, 79); transform-origin: 360.301px 216.155px"
        id="elvhuas1cl0ca"
        class="animable"
      ></path>
      <path
        d="M307.86,195.93c-.12-6,5-11.9,15.36-16.44,20.48-9,53.69-9,74.17,0,10.36,4.54,15.47,10.49,15.35,16.44h0v18.59c0-4.61-4.09-7.91-16.2-3.45-19.85,7.31-31,19.38-51.24,25.35-16.74,4.93-31.57,3-37.46-3.13V195.93Z"
        style="fill: rgb(38, 50, 56); transform-origin: 360.291px 205.978px"
        id="el77dhhmcc2io"
        class="animable"
      ></path>
      <path
        d="M307.85,217.47v4.62c0,5.85,5.15,11.72,15.37,16.18,20.48,9,53.69,9,74.17,0,10.32-4.51,15.43-10.45,15.36-16.37v-4.47c0,5.87-5.11,11.74-15.36,16.24-20.48,9-53.69,9-74.17,0C313,229.19,307.88,223.34,307.85,217.47Z"
        style="fill: rgb(186, 104, 200); transform-origin: 360.3px 231.225px"
        id="el90d029lbno"
        class="animable"
      ></path>
      <polygon
        points="442.71 182.95 360.3 144.02 277.88 182.95 277.88 189.44 360.3 224.05 442.71 189.44 442.71 182.95"
        style="fill: rgb(55, 71, 79); transform-origin: 360.295px 184.035px"
        id="elgiwhzoytap"
        class="animable"
      ></polygon>
      <g id="ely1y3yhym2xq">
        <polygon
          points="360.3 224.05 360.3 217.56 442.71 182.95 442.71 189.44 360.3 224.05"
          style="
            fill: rgb(186, 104, 200);
            opacity: 0.2;
            transform-origin: 401.505px 203.5px;
          "
          class="animable"
        ></polygon>
      </g>
      <g id="el131tdq34dob">
        <polygon
          points="360.3 217.56 441.53 184.88 442.71 189.44 442.71 182.95 360.3 217.56"
          style="
            fill: rgb(186, 104, 200);
            opacity: 0.2;
            transform-origin: 401.505px 200.255px;
          "
          class="animable"
        ></polygon>
      </g>
      <polygon
        points="360.3 144.02 277.88 182.95 360.3 217.56 442.71 182.95 360.3 144.02"
        style="fill: rgb(69, 90, 100); transform-origin: 360.295px 180.79px"
        id="elgovaerbyys"
        class="animable"
      ></polygon>
      <path
        d="M316.11,214.83c0-.54-.26-13.19,1-16.79s5.94-7.25,15.71-12.21a102.93,102.93,0,0,1,21.95-8.1l.4,1.8a100.69,100.69,0,0,0-21.52,7.94c-9.18,4.66-13.74,8.11-14.79,11.17-.94,2.73-.95,12.58-.87,16.15Z"
        style="fill: rgb(186, 104, 200); transform-origin: 335.629px 196.28px"
        id="el4q0hz69bp8m"
        class="animable"
      ></path>
      <g id="eln8yt09ujpqt">
        <path
          d="M316.11,214.83c0-.54-.26-13.19,1-16.79s5.94-7.25,15.71-12.21a102.93,102.93,0,0,1,21.95-8.1l.4,1.8a100.69,100.69,0,0,0-21.52,7.94c-9.18,4.66-13.74,8.11-14.79,11.17-.94,2.73-.95,12.58-.87,16.15Z"
          style="
            fill: rgb(255, 255, 255);
            opacity: 0.8;
            transform-origin: 335.629px 196.28px;
          "
          class="animable"
        ></path>
      </g>
      <path
        d="M326.82,253.52c0-9.47-1.57-26.43-6.54-31.36h-6.55c-5,4.93-6.53,21.89-6.53,31.36h0c0,1.45.95,2.9,2.87,4a15.32,15.32,0,0,0,13.87,0c1.92-1.11,2.88-2.56,2.88-4Z"
        style="fill: rgb(186, 104, 200); transform-origin: 317.01px 240.67px"
        id="elg8i5zaqoez8"
        class="animable"
      ></path>
      <g id="ely4v0afz07f">
        <path
          d="M326.82,253.52c0-9.47-1.57-26.43-6.54-31.36h-6.55c-5,4.93-6.53,21.89-6.53,31.36h0c0,1.45.95,2.9,2.87,4a15.32,15.32,0,0,0,13.87,0c1.92-1.11,2.88-2.56,2.88-4Z"
          style="
            fill: rgb(255, 255, 255);
            opacity: 0.5;
            transform-origin: 317.01px 240.67px;
          "
          class="animable"
        ></path>
      </g>
      <g id="el5zyzfc23res">
        <path
          d="M313.73,222.16a9.12,9.12,0,0,0-1.06,1.32c1.25,1.32,3.17,1.66,5.08,1.81s3.9,1.7,4.75,9.47,2.5,17.69-.58,20.7-9.95,3-13.56.74h0a7.57,7.57,0,0,0,1.71,1.33,15.32,15.32,0,0,0,13.87,0c1.92-1.11,2.88-2.56,2.88-4h0c0-9.47-1.57-26.43-6.54-31.36Z"
          style="
            fill: rgb(186, 104, 200);
            opacity: 0.6;
            transform-origin: 317.59px 240.675px;
          "
          class="animable"
        ></path>
      </g>
      <path
        d="M321.92,218.71a4.92,4.92,0,1,1-4.91-4.92A4.91,4.91,0,0,1,321.92,218.71Z"
        style="fill: rgb(186, 104, 200); transform-origin: 317px 218.71px"
        id="elr8r5m70j3im"
        class="animable"
      ></path>
      <g id="eliryf5f9rmf">
        <path
          d="M321.92,218.71a4.92,4.92,0,1,1-4.91-4.92A4.91,4.91,0,0,1,321.92,218.71Z"
          style="
            fill: rgb(255, 255, 255);
            opacity: 0.5;
            transform-origin: 317px 218.71px;
          "
          class="animable"
        ></path>
      </g>
      <g id="el9yv35vm4wgv">
        <path
          d="M319.86,214.72a4.46,4.46,0,0,1-1.19,6.39,4.81,4.81,0,0,1-6.33-.94,4.9,4.9,0,1,0,7.52-5.45Z"
          style="
            fill: rgb(186, 104, 200);
            opacity: 0.4;
            transform-origin: 317.129px 219.166px;
          "
          class="animable"
        ></path>
      </g>
      <path
        d="M353.67,175.38a3.31,3.31,0,0,1,1.94-2.7,10.38,10.38,0,0,1,9.37,0,3.31,3.31,0,0,1,1.94,2.7v2.17a3.3,3.3,0,0,1-1.94,2.7,10.38,10.38,0,0,1-9.37,0,3.3,3.3,0,0,1-1.94-2.7Z"
        style="fill: rgb(38, 50, 56); transform-origin: 360.295px 176.465px"
        id="elvw489fvbh0m"
        class="animable"
      ></path>
      <path
        d="M365,178.09c2.59-1.5,2.59-3.92,0-5.41a10.38,10.38,0,0,0-9.37,0c-2.58,1.49-2.58,3.91,0,5.41A10.38,10.38,0,0,0,365,178.09Z"
        style="fill: rgb(55, 71, 79); transform-origin: 360.319px 175.385px"
        id="eld6pba5wprau"
        class="animable"
      ></path>
    </g>
  </g>
  <g
    id="freepik--Apple--inject-5"
    class="animable"
    style="transform-origin: 90.4384px 396.518px"
  >
    <g
      id="freepik--apple--inject-5"
      class="animable"
      style="transform-origin: 90.4384px 396.518px"
    >
      <path
        d="M97.94,373.09c5.86-.65,16.07-1.6,24.55,10.26,9.66,13.49,5.63,33-4,42.63-12.14,12-33.66,16.31-48.38,6.88C53.81,422.43,48.63,398.29,56.43,386s23.11-11.77,27.24-10.79C89.87,376.68,93.39,373.6,97.94,373.09Z"
        style="fill: rgb(186, 104, 200); transform-origin: 90.4455px 405.371px"
        id="el20vx2uguw37h"
        class="animable"
      ></path>
      <g id="elabgylzmz10p">
        <path
          d="M77.55,428.51c16.41,5.66,36.47-.4,47.27-12a31.13,31.13,0,0,1-6.37,9.49c-12.14,12-33.66,16.31-48.38,6.88C57.74,425,51.8,409.17,53,396.64,53,400.09,59.49,422.3,77.55,428.51Z"
          style="opacity: 0.1; transform-origin: 88.8341px 417.326px"
          class="animable"
        ></path>
      </g>
      <g id="eljuite98xk6p">
        <g
          style="opacity: 0.1; transform-origin: 113.445px 401.569px"
          class="animable"
        >
          <path
            d="M104.84,377.22c3.68-1,9.67,1.43,13.38,6,4.61,5.72,6.57,14.58,6.58,21.26,0,13.47-11.48,22.5-12.89,21.6s6.32-11-1-23.21C103.56,390.56,98.8,378.79,104.84,377.22Z"
            style="
              fill: rgb(255, 255, 255);
              transform-origin: 113.445px 401.569px;
            "
            id="elzsqdtn58m6e"
            class="animable"
          ></path>
        </g>
      </g>
      <g id="eljanke4617h">
        <g
          style="opacity: 0.1; transform-origin: 112.441px 387.768px"
          class="animable"
        >
          <path
            d="M108.09,378.84c4,.64,9.47,6,11.35,10.09s1.82,7.14,1.32,7.75c-.9,1.08-9.92-5.16-13-8.12C103.37,384.35,101.59,377.81,108.09,378.84Z"
            style="
              fill: rgb(255, 255, 255);
              transform-origin: 112.441px 387.768px;
            "
            id="elwedu1tzu2"
            class="animable"
          ></path>
        </g>
      </g>
      <g id="elw9y4reakchq">
        <path
          d="M93.83,385.32c1.75-2,3.53-3.11,5-.84s-3.34,7-9.63,6.29-9-4.29-9.25-6.29c0,0,3.44,3.83,7.55,3.63A10.25,10.25,0,0,0,93.83,385.32Z"
          style="opacity: 0.2; transform-origin: 89.5232px 387.03px"
          class="animable"
        ></path>
      </g>
      <path
        d="M88.9,389.23a56.94,56.94,0,0,1-.09-16.85c1.41-8.15,5.29-14.34,6.49-15.16a16.34,16.34,0,0,1,6.4-2.1c3.08-.49,7.1,1,6.29,2.31s-5.09,3-9.61,8.95-8,16.59-7,22.43A2.39,2.39,0,0,1,88.9,389.23Z"
        style="fill: rgb(55, 71, 79); transform-origin: 98.1615px 372.215px"
        id="elwrnnbkmlrbg"
        class="animable"
      ></path>
      <path
        d="M95.51,357.09l.27-.17,0,0a18,18,0,0,1,5.88-1.78c2.27-.36,5,.34,6,1.27.29.41-.29,1.12-3,2a17.41,17.41,0,0,1-8.22.62C95.27,358.75,94.62,357.77,95.51,357.09Z"
        style="fill: rgb(69, 90, 100); transform-origin: 101.411px 357.153px"
        id="elfaif698cq4w"
        class="animable"
      ></path>
      <g id="elotjrrn3rfa">
        <path
          d="M91.25,378.86c1.24-7.34,7.61-14.37,12.2-17.78h0a31.52,31.52,0,0,0-5.07,5.3c-4.53,5.94-8,16.59-7,22.43a2.39,2.39,0,0,1-2.46.42s-.36-2.1-.56-5.19C89,386.84,90.1,385.63,91.25,378.86Z"
          style="opacity: 0.1; transform-origin: 95.905px 375.24px"
          class="animable"
        ></path>
      </g>
      <path
        d="M88.3,376.91a14.69,14.69,0,0,1-14.31-3c-5.18-4.85-3.66-12.57-3.66-12.57a13.68,13.68,0,0,1,12.45,1.69C87.19,366.21,89,373.47,88.3,376.91Z"
        style="fill: rgb(186, 104, 200); transform-origin: 79.2841px 369.088px"
        id="eluj9nfo8eqh"
        class="animable"
      ></path>
      <g id="elnnv7qzqnm1d">
        <path
          d="M88.3,376.91a14.69,14.69,0,0,1-14.31-3c-5.18-4.85-3.66-12.57-3.66-12.57a13.68,13.68,0,0,1,12.45,1.69C87.19,366.21,89,373.47,88.3,376.91Z"
          style="opacity: 0.3; transform-origin: 79.2841px 369.088px"
          class="animable"
        ></path>
      </g>
      <path
        d="M70.33,361.37a13.68,13.68,0,0,1,12.45,1.69c4.41,3.15,6.18,10.41,5.52,13.85C83,366.77,70.33,361.37,70.33,361.37Z"
        style="fill: rgb(186, 104, 200); transform-origin: 79.382px 368.743px"
        id="el8l64drjtfax"
        class="animable"
      ></path>
      <g id="elquo8g49wlnq">
        <path
          d="M70.33,361.37a13.68,13.68,0,0,1,12.45,1.69c4.41,3.15,6.18,10.41,5.52,13.85C83,366.77,70.33,361.37,70.33,361.37Z"
          style="opacity: 0.2; transform-origin: 79.382px 368.743px"
          class="animable"
        ></path>
      </g>
    </g>
  </g>
  <g
    id="freepik--Pen--inject-5"
    class="animable"
    style="transform-origin: 307.903px 403.845px"
  >
    <g
      id="freepik--pen--inject-5"
      class="animable"
      style="transform-origin: 307.903px 403.845px"
    >
      <g
        id="freepik--pen--inject-5"
        class="animable"
        style="transform-origin: 307.903px 403.845px"
      >
        <path
          d="M369.1,364.59a10.25,10.25,0,0,0,4.64,8,3.69,3.69,0,0,0,2.66.56,2.38,2.38,0,0,1-.5.4l1.11-.64.07,0,.16-.11a1.81,1.81,0,0,0,.21-.18l.12-.12,0,0,.11-.13a2.85,2.85,0,0,0,.38-.69,2.09,2.09,0,0,0,.08-.23.23.23,0,0,0,0-.11.84.84,0,0,0,.05-.2,4.68,4.68,0,0,0,.13-1.16,10.25,10.25,0,0,0-4.63-8,4.14,4.14,0,0,0-2.08-.64h0l-.29,0-.27.05-.16,0-.09,0-.19.08,0,0-.18.09-1,.55a2.13,2.13,0,0,1,.5-.18A3.7,3.7,0,0,0,369.1,364.59Zm7.64,8.49.08,0Z"
          style="
            fill: rgb(186, 104, 200);
            transform-origin: 373.704px 367.445px;
          "
          id="el2llk4obtd7j"
          class="animable"
        ></path>
        <path
          d="M249.23,431.6,255.76,443l1.11-.64,119-68.75a2.38,2.38,0,0,0,.5-.4,3.67,3.67,0,0,0,.86-2.6,10.25,10.25,0,0,0-4.64-8,4.19,4.19,0,0,0-2.07-.63,2.81,2.81,0,0,0-.59.06,2.13,2.13,0,0,0-.5.18l-.08,0,0,0h0Z"
          style="fill: rgb(240, 240, 240); transform-origin: 313.234px 402.49px"
          id="elo65ycn8sp9i"
          class="animable"
        ></path>
        <path
          d="M252.5,431.93c-2.56-1.48-4.63-.28-4.63,2.67a10.24,10.24,0,0,0,4.63,8c2.56,1.48,4.64.28,4.64-2.68A10.23,10.23,0,0,0,252.5,431.93Z"
          style="
            fill: rgb(186, 104, 200);
            transform-origin: 252.505px 437.265px;
          "
          id="els5f38d66vo"
          class="animable"
        ></path>
        <path
          d="M318.3,396.61s0,0,0,0l.15-.09a1.23,1.23,0,0,1,1.08.16,3.66,3.66,0,0,1,1.65,2.85,1.23,1.23,0,0,1-.39,1h0l-.2.12-70.44,40.66-4.63-2.68Z"
          style="fill: rgb(69, 90, 100); transform-origin: 283.352px 418.885px"
          id="elffrx7cbs549"
          class="animable"
        ></path>
        <path
          d="M256.72,437.51l-6.54,3.78-4.63-2.68,8.86-5.11A11.19,11.19,0,0,1,256.72,437.51Z"
          style="fill: rgb(55, 71, 79); transform-origin: 251.135px 437.395px"
          id="elt711lode1w"
          class="animable"
        ></path>
        <path
          d="M240.21,441.9h0l5.37-5.9.14-.16a2.1,2.1,0,0,1,2.65,0,7.24,7.24,0,0,1,3.27,5.67,2.16,2.16,0,0,1-1.25,2.26h0l-.21.05-7.87,1.71h0a1.23,1.23,0,0,1-.85-.18,3.31,3.31,0,0,1-1.49-2.59A1.18,1.18,0,0,1,240.21,441.9Z"
          style="
            fill: rgb(186, 104, 200);
            transform-origin: 245.811px 440.457px;
          "
          id="eltei5c2wcjt8"
          class="animable"
        ></path>
        <g id="elfbw97n6depr">
          <path
            d="M240.21,441.9h0l5.37-5.9.14-.16a2.1,2.1,0,0,1,2.65,0,7.24,7.24,0,0,1,3.27,5.67,2.16,2.16,0,0,1-1.25,2.26h0l-.21.05-7.87,1.71h0a1.23,1.23,0,0,1-.85-.18,3.31,3.31,0,0,1-1.49-2.59A1.18,1.18,0,0,1,240.21,441.9Z"
            style="opacity: 0.1; transform-origin: 245.811px 440.457px"
            class="animable"
          ></path>
        </g>
        <path
          d="M239.91,442.76a3.29,3.29,0,0,0,1.5,2.58,1.2,1.2,0,0,0,.84.18h0l4-.86c.62-.14,1-.73,1-1.67a5.28,5.28,0,0,0-2.38-4.14,1.54,1.54,0,0,0-1.91,0l-.11.12-2.66,2.92h0A1.15,1.15,0,0,0,239.91,442.76Z"
          style="
            fill: rgb(186, 104, 200);
            transform-origin: 243.577px 442.026px;
          "
          id="el1fydhi9iqei"
          class="animable"
        ></path>
        <g id="elqzgis0r1uwe">
          <path
            d="M241.4,441.89c-.82-.47-1.49-.09-1.49.86a3.31,3.31,0,0,0,1.49,2.59c.83.47,1.49.09,1.49-.86A3.3,3.3,0,0,0,241.4,441.89Z"
            style="opacity: 0.1; transform-origin: 241.4px 443.615px"
            class="animable"
          ></path>
        </g>
        <path
          d="M359.45,372.82a1.13,1.13,0,0,1,1.16.11,3.61,3.61,0,0,1,1.64,2.84,1.14,1.14,0,0,1-.49,1.07h0l-40.94,23.67a1.23,1.23,0,0,0,.39-1,3.66,3.66,0,0,0-1.65-2.85,1.23,1.23,0,0,0-1.08-.16Z"
          style="
            fill: rgb(250, 250, 250);
            transform-origin: 340.369px 386.609px;
          "
          id="eltspyi8qe62"
          class="animable"
        ></path>
        <path
          d="M359,373.88a3.66,3.66,0,0,0,1.64,2.84,1.14,1.14,0,0,0,1.15.11,1.13,1.13,0,0,0,.49-1.06,3.61,3.61,0,0,0-1.64-2.84,1,1,0,0,0-1.64.95Z"
          style="
            fill: rgb(245, 245, 245);
            transform-origin: 360.633px 374.809px;
          "
          id="el9r78e4wrqka"
          class="animable"
        ></path>
        <path
          d="M362.64,366.86h0l.06,0,.07,0,6.84-4,.16-.09,0,0h0a3,3,0,0,1,2.82.35,9.21,9.21,0,0,1,4.17,7.23,2.92,2.92,0,0,1-1.23,2.7h0l-6.92,4,0,0,0,0h0a3,3,0,0,1-2.89-.32,9.24,9.24,0,0,1-4.17-7.23A3,3,0,0,1,362.64,366.86Z"
          style="
            fill: rgb(186, 104, 200);
            transform-origin: 369.155px 369.924px;
          "
          id="el629xt3ueq6a"
          class="animable"
        ></path>
        <g id="elt8xgmfss9st">
          <path
            d="M362.64,366.86h0l.06,0,.07,0,6.84-4,.16-.09,0,0h0a3,3,0,0,1,2.82.35,9.21,9.21,0,0,1,4.17,7.23,2.92,2.92,0,0,1-1.23,2.7h0l-6.92,4,0,0,0,0h0a3,3,0,0,1-2.89-.32,9.24,9.24,0,0,1-4.17-7.23A3,3,0,0,1,362.64,366.86Z"
            style="opacity: 0.05; transform-origin: 369.155px 369.924px"
            class="animable"
          ></path>
        </g>
        <g id="elqldmhwvzdda">
          <path
            d="M365.67,367.1c-2.3-1.33-4.17-.26-4.17,2.4a9.24,9.24,0,0,0,4.17,7.23c2.3,1.33,4.17.25,4.17-2.41A9.22,9.22,0,0,0,365.67,367.1Z"
            style="opacity: 0.1; transform-origin: 365.67px 371.914px"
            class="animable"
          ></path>
        </g>
        <path
          d="M238,444.39h0l2.83-1.7h0a.53.53,0,0,1,.55,0,1.72,1.72,0,0,1,.77,1.33.53.53,0,0,1-.23.49h0l-2.82,1.71h0a1.11,1.11,0,0,1-.52.13,1.08,1.08,0,0,1-.58-2Z"
          style="fill: rgb(69, 90, 100); transform-origin: 239.819px 444.482px"
          id="elzrsfpin2p5"
          class="animable"
        ></path>
        <path
          d="M237.85,444.52h0l.15-.12h0a.54.54,0,0,1,.49.08,1.7,1.7,0,0,1,.77,1.33.52.52,0,0,1-.22.48l-.06,0-.05,0a.83.83,0,0,1-.35.06,1.09,1.09,0,0,1-1.09-1.09A1,1,0,0,1,237.85,444.52Z"
          style="fill: rgb(38, 50, 56); transform-origin: 238.376px 445.362px"
          id="eltlvdxg8jfm"
          class="animable"
        ></path>
      </g>
    </g>
  </g>
  <g
    id="freepik--Pencil--inject-5"
    class="animable"
    style="transform-origin: 376.236px 401.527px"
  >
    <g
      id="freepik--pencil--inject-5"
      class="animable"
      style="transform-origin: 376.236px 401.527px"
    >
      <path
        d="M419.59,367.56,438,364a.57.57,0,0,1,.54.94L426,379Z"
        style="fill: rgb(255, 168, 167); transform-origin: 429.139px 371.494px"
        id="elcc9u3pih6mi"
        class="animable"
      ></path>
      <path
        d="M438.51,364.89A.57.57,0,0,0,438,364l-3.59.71h0a3.12,3.12,0,0,1,1.48,2.93l0,.32Z"
        style="fill: rgb(38, 50, 56); transform-origin: 436.51px 365.979px"
        id="el5egwl7keov2"
        class="animable"
      ></path>
      <path
        d="M335.69,430.75l1.5-.86,1.82-1L426,379a8.34,8.34,0,0,0-.51-6.1c-1.3-2.92-3.83-5.22-5.93-5.36l-87,49.82-3.47,2C331.46,418.21,338,429.55,335.69,430.75Z"
        style="fill: rgb(69, 90, 100); transform-origin: 377.722px 399.145px"
        id="ell8ua64r3gm"
        class="animable"
      ></path>
      <path
        d="M341.42,427.48l3.36-1.93c1-.53.42-3-.74-5.48-1.53-3.34-4.55-6.58-5.86-5.89l-2.48,1.42-.87.53c1.31-.7,4.33,2.54,5.86,5.89,1.11,2.41,1.67,4.76.83,5.39h0A.15.15,0,0,1,341.42,427.48Z"
        style="fill: rgb(235, 235, 235); transform-origin: 340.061px 420.783px"
        id="eleg4infeehlw"
        class="animable"
      ></path>
      <path
        d="M342.26,427c2.3-1.22-4.3-12.58-6.6-11.36l-3.36,1.93c2.3-1.22,8.9,10.14,6.59,11.36Z"
        style="fill: rgb(186, 104, 200); transform-origin: 337.52px 422.239px"
        id="elmvfzpsu3gx"
        class="animable"
      ></path>
      <path
        d="M335.69,430.75l3.32-1.9c2.27-1.18-4-12.2-6.4-11.47l-.14.05-3.33,1.94C331.46,418.21,338,429.55,335.69,430.75Z"
        style="fill: rgb(235, 235, 235); transform-origin: 334.318px 424.048px"
        id="elikhw7lr0iej"
        class="animable"
      ></path>
      <g id="elwnd2f7wturf">
        <path
          d="M438.59,364.27,438,364l-13.34,7.3-90.77,52c-.13-.2-.24-.22-.32-.08,2,3.06,3.44,6.91,2.15,7.58l1.5-.86,1.82-1L426,379h0l12.47-14.12A.57.57,0,0,0,438.59,364.27Z"
          style="opacity: 0.15; transform-origin: 386.101px 397.4px"
          class="animable"
        ></path>
      </g>
      <path
        d="M321.6,438.81l14.09-8.06c1-.51.44-2.92-.7-5.43-1.52-3.35-4.53-6.62-5.85-5.95h0L315,427.47c-2.81,1.62-.23,7.72,2.9,10.44C319.06,438.94,320.36,439.39,321.6,438.81Z"
        style="fill: rgb(242, 143, 143); transform-origin: 325.002px 429.174px"
        id="elw2lx8bjyf4q"
        class="animable"
      ></path>
      <g id="ela9u6uvk6nyl">
        <path
          d="M322.44,434.44c-.81-3.17-3.38-6.29-5.75-6.95a2.27,2.27,0,0,0-2.11.28c-2.12,2,.35,7.56,3.31,10.14a3.37,3.37,0,0,0,3.63.93C322.58,438.22,323,436.6,322.44,434.44Z"
          style="opacity: 0.1; transform-origin: 318.237px 433.19px"
          class="animable"
        ></path>
      </g>
    </g>
  </g>
  <g
    id="freepik--speech-bubble--inject-5"
    class="animable"
    style="transform-origin: 296.774px 69.1585px"
  >
    <g
      id="freepik--speech-bubble--inject-5"
      class="animable"
      style="transform-origin: 296.774px 69.1585px"
    >
      <g
        id="freepik--speech-bubble--inject-5"
        class="animable"
        style="transform-origin: 296.774px 69.1585px"
      >
        <path
          id="freepik--speech-bubble--inject-5"
          d="M262.64,94.69l15.15-7.92s9.61,2.46,25.67,1.51c23.75-1.41,37.61-11.44,34.08-25.52-3.62-14.43-19.5-20.1-47.81-19-35.41,1.38-44,25.39-22.86,39.58Z"
          style="
            fill: rgb(186, 104, 200);
            transform-origin: 296.774px 69.1585px;
          "
          class="animable"
        ></path>
        <g id="freepik--speech-bubble--inject-5">
          <path
            d="M262.64,94.69l15.15-7.92s9.61,2.46,25.67,1.51c23.75-1.41,37.61-11.44,34.08-25.52-3.62-14.43-19.5-20.1-47.81-19-35.41,1.38-44,25.39-22.86,39.58Z"
            style="
              fill: rgb(255, 255, 255);
              opacity: 0.7;
              transform-origin: 296.774px 69.1585px;
            "
            class="animable"
          ></path>
        </g>
      </g>
      <circle
        cx="278.88"
        cy="66.54"
        r="3.78"
        style="fill: rgb(255, 255, 255); transform-origin: 278.88px 66.54px"
        id="elphdvdxmszwj"
        class="animable"
      ></circle>
      <circle
        cx="296.64"
        cy="66.54"
        r="3.78"
        style="fill: rgb(255, 255, 255); transform-origin: 296.64px 66.54px"
        id="eldvhxgctu53u"
        class="animable"
      ></circle>
      <circle
        cx="314.4"
        cy="66.54"
        r="3.78"
        style="fill: rgb(255, 255, 255); transform-origin: 314.4px 66.54px"
        id="ellkiwqb13zj"
        class="animable"
      ></circle>
    </g>
  </g>
  <g
    id="freepik--Character--inject-5"
    class="animable"
    style="transform-origin: 202.322px 219.775px"
  >
    <g
      id="freepik--Laptop--inject-5"
      class="animable"
      style="transform-origin: 202.322px 237.834px"
    >
      <path
        d="M72.27,323.28c0,2.58,1.94,4.24,4.33,5.62l97.85,56.5a9.55,9.55,0,0,0,8.65,0L341,294.26c2.39-1.38,4.33-3.16,4.33-5.74s-1.94-4.19-4.32-5.57L243.1,226.46a9.53,9.53,0,0,0-8.64,0L76.6,317.6C74.21,319,72.27,320.69,72.27,323.28Z"
        style="fill: rgb(55, 71, 79); transform-origin: 208.8px 305.93px"
        id="elfzjjlfsmnld"
        class="animable"
      ></path>
      <path
        d="M76.6,322.59l97.85,56.49a9.55,9.55,0,0,0,8.65,0L341,287.94c2.38-1.37,2.38-3.61,0-5L243.1,226.46a9.53,9.53,0,0,0-8.64,0L76.6,317.6C74.21,319,74.21,321.21,76.6,322.59Z"
        style="fill: rgb(69, 90, 100); transform-origin: 208.796px 302.77px"
        id="el4gvijrqjmy7"
        class="animable"
      ></path>
      <path
        d="M178.78,380.13v6.3a8.83,8.83,0,0,1-4.33-1L76.6,328.9c-2.39-1.38-4.33-3-4.33-5.62,0-2.43,1.74-4.12,4-5.49-1.86,1.31-1.89,3.51.34,4.8l97.85,56.5A8.83,8.83,0,0,0,178.78,380.13Z"
        style="fill: rgb(38, 50, 56); transform-origin: 125.525px 352.112px"
        id="el1fq1306swxd"
        class="animable"
      ></path>
      <path
        d="M70.4,318.27c-1.9-.88-2.41-2.38-2.6-5l-8.48-124.1a8.6,8.6,0,0,1,4-7.3L221.18,90.69c2.38-1.38,4.13-2.13,6.34-.62s2.25,2.34,2.43,5l8.48,124.11a8.59,8.59,0,0,1-4,7.3L76.58,317.61C74.19,319,72.84,319.39,70.4,318.27Z"
        style="fill: rgb(55, 71, 79); transform-origin: 148.875px 204.08px"
        id="ellahqpffs95"
        class="animable"
      ></path>
      <path
        d="M230,95.06c-.18-2.65-2.26-3.68-4.65-2.31L67.44,183.9a8.17,8.17,0,0,0-3,3.17L60.36,185h0a8.35,8.35,0,0,1,3-3.17L221.17,90.69c2.39-1.38,4.15-2.14,6.35-.62S229.77,92.41,230,95.06Z"
        style="fill: rgb(69, 90, 100); transform-origin: 145.18px 138.152px"
        id="el56453w45um3"
        class="animable"
      ></path>
      <path
        d="M76.26,317.79c-2.18,1.28-3.55,1.44-5.86.47-1.77-.74-2.41-2.37-2.59-5L59.32,189.13a7.67,7.67,0,0,1,1-4.12l4.12,2.05h0a7.82,7.82,0,0,0-1,4.12L71.93,315.3C72.09,317.76,74.22,319,76.26,317.79Z"
        style="fill: rgb(38, 50, 56); transform-origin: 67.7866px 251.948px"
        id="eltwmqppyg4jb"
        class="animable"
      ></path>
      <path
        d="M70.18,188.64,222.1,101c1.43-.83,2.68-.21,2.79,1.38l7.91,115.78a5.16,5.16,0,0,1-2.39,4.38L78.49,310.18c-1.43.83-2.68.21-2.79-1.38L67.78,193A5.19,5.19,0,0,1,70.18,188.64Z"
        id="el6uskw9mc8f8"
        class="animable"
        style="transform-origin: 150.29px 205.59px"
      ></path>
      <path
        d="M70.18,188.64a5.19,5.19,0,0,0-2.4,4.38l7.79,113.85,150.18-86.68a5.16,5.16,0,0,0,2.39-4.38L220.36,102Z"
        style="fill: rgb(186, 104, 200); transform-origin: 147.96px 204.435px"
        id="elfjz5n3w0t3b"
        class="animable"
      ></path>
      <g id="ely5b18wkgfer">
        <path
          d="M70.18,188.64a5.19,5.19,0,0,0-2.4,4.38l7.79,113.85,150.18-86.68a5.16,5.16,0,0,0,2.39-4.38L220.36,102Z"
          style="
            fill: rgb(255, 255, 255);
            opacity: 0.8;
            transform-origin: 147.96px 204.435px;
          "
          class="animable"
        ></path>
      </g>
      <path
        d="M90,318.33,235,234.58a4.51,4.51,0,0,1,4.08,0l5.29,3a1.25,1.25,0,0,1,0,2.36L99.29,323.64a4.51,4.51,0,0,1-4.08,0l-5.26-3A1.24,1.24,0,0,1,90,318.33Z"
        style="fill: rgb(38, 50, 56); transform-origin: 167.196px 279.11px"
        id="elisr48zm9ode"
        class="animable"
      ></path>
      <path
        d="M104.19,326.73,249.26,243a4.14,4.14,0,0,1,3.72-.2l37.76,21.8c.93.54.78,1.5-.35,2.15l-144.9,83.64a4.17,4.17,0,0,1-3.72.21l-37.92-21.7C102.91,328.34,103.07,327.38,104.19,326.73Z"
        style="fill: rgb(38, 50, 56); transform-origin: 197.293px 296.696px"
        id="el8mji6op0pwp"
        class="animable"
      ></path>
      <path
        d="M229.9,278.16l4.54-2.62c.19-.12.21-.29,0-.39l-4.35-2.5a.73.73,0,0,0-.66,0l-4.54,2.62c-.19.11-.21.28,0,.38l4.35,2.51A.73.73,0,0,0,229.9,278.16Zm-6.64-9.08-4.54,2.63c-.19.11-.21.28,0,.38L223,274.6a.71.71,0,0,0,.66,0l4.54-2.62c.19-.11.21-.28,0-.38l-4.35-2.51A.73.73,0,0,0,223.26,269.08Zm-14.67,8.48L200.9,282c-.19.12-.21.29,0,.39l4.35,2.5a.73.73,0,0,0,.66,0l7.69-4.44c.19-.11.21-.28,0-.38l-4.34-2.51A.77.77,0,0,0,208.59,277.56Zm8-4.64-4.55,2.62c-.19.11-.21.28,0,.38l4.35,2.51a.73.73,0,0,0,.66,0l4.54-2.63c.19-.11.21-.28,0-.38l-4.35-2.51A.75.75,0,0,0,216.63,272.92ZM198.81,283.2l-4.55,2.63c-.19.11-.21.28,0,.38l4.34,2.51a.71.71,0,0,0,.66,0l4.54-2.62c.2-.11.21-.28,0-.38l-4.34-2.51A.73.73,0,0,0,198.81,283.2ZM192.17,287l-4.54,2.62c-.2.11-.21.28,0,.38l4.34,2.51a.73.73,0,0,0,.66,0l4.54-2.63c.2-.11.21-.28,0-.38l-4.34-2.5A.73.73,0,0,0,192.17,287Zm17,10.23,4.54-2.62c.2-.11.21-.28,0-.38l-4.34-2.51a.73.73,0,0,0-.66,0l-4.55,2.63c-.19.11-.21.28,0,.38l4.34,2.51A.71.71,0,0,0,209.2,297.27Zm-6.64,3.84,4.54-2.63c.2-.11.21-.28,0-.38l-4.34-2.5a.73.73,0,0,0-.66,0l-4.54,2.62c-.2.11-.21.28,0,.38l4.34,2.51A.73.73,0,0,0,202.56,301.11Zm-6.64,3.83,4.55-2.62c.19-.11.21-.28,0-.38l-4.34-2.51a.73.73,0,0,0-.66,0L191,302.07c-.2.11-.21.28,0,.38l4.34,2.51A.73.73,0,0,0,195.92,304.94Zm-6.63,3.83,4.54-2.62c.19-.11.21-.28,0-.38l-4.35-2.51a.73.73,0,0,0-.66,0l-4.54,2.63c-.19.11-.21.28,0,.38l4.35,2.5A.73.73,0,0,0,189.29,308.77Zm34-26.78,4.54-2.62c.19-.11.21-.28,0-.38l-4.35-2.51a.73.73,0,0,0-.66,0l-4.54,2.62c-.19.11-.21.29,0,.38L222.6,282A.73.73,0,0,0,223.26,282Zm-7.42,11.45L226,287.59c.19-.11.21-.28,0-.38l-10.55-6.09a.73.73,0,0,0-.66,0l-5.24,3c-.2.11-.21.28,0,.38l5.58,3.22c.18.1.16.27,0,.38l-4.2,2.42c-.19.12-.21.29,0,.39l4.35,2.5A.73.73,0,0,0,215.84,293.44Zm-30.31-2.57L181,293.49c-.2.11-.21.28,0,.38l4.34,2.51a.73.73,0,0,0,.66,0l4.55-2.62c.19-.11.21-.28,0-.38l-4.34-2.51A.73.73,0,0,0,185.53,290.87Zm-6.64,3.83-4.54,2.62c-.19.12-.21.29,0,.39l4.35,2.5a.73.73,0,0,0,.66,0l4.54-2.62c.19-.11.21-.28,0-.38l-4.35-2.51A.73.73,0,0,0,178.89,294.7Zm-36.73,40.92a.73.73,0,0,0,.66,0l4.54-2.62c.19-.11.21-.28,0-.38l-4.35-2.51a.73.73,0,0,0-.66,0l-4.54,2.62c-.19.12-.21.29,0,.38Zm-16.38-10.26L121.24,328c-.19.11-.21.28,0,.38l4.35,2.51a.77.77,0,0,0,.66,0l4.54-2.62c.19-.11.21-.28,0-.38l-4.35-2.51A.73.73,0,0,0,125.78,325.36Zm8.42,7.69a.73.73,0,0,0,.66,0l4.54-2.63c.2-.11.21-.28,0-.38l-4.34-2.51a.71.71,0,0,0-.66,0l-4.54,2.62c-.2.11-.21.28,0,.38Zm18.32,4.12,4.54-2.62c.19-.12.21-.29,0-.39l-4.35-2.5a.73.73,0,0,0-.66,0l-4.54,2.62c-.19.11-.21.28,0,.38l4.35,2.51A.73.73,0,0,0,152.52,337.17Zm-7.3,3.85a.73.73,0,0,0,.66,0l4.54-2.62c.19-.11.21-.28,0-.38l-4.34-2.51a.73.73,0,0,0-.66,0l-4.55,2.62c-.19.11-.21.28,0,.38Zm-12.8-19.49-4.54,2.62c-.19.12-.21.29,0,.38l4.35,2.51a.73.73,0,0,0,.66,0l4.54-2.62c.19-.11.21-.28,0-.38l-4.35-2.51A.73.73,0,0,0,132.42,321.53Zm33.19-19.16L161.07,305c-.19.11-.21.28,0,.38l4.35,2.51a.73.73,0,0,0,.66,0l4.54-2.62c.19-.12.21-.29,0-.39l-4.35-2.5A.73.73,0,0,0,165.61,302.37ZM139.06,317.7l-4.54,2.62c-.19.11-.21.28,0,.38l4.35,2.51a.73.73,0,0,0,.66,0l4.54-2.62c.19-.12.21-.29,0-.39l-4.35-2.5A.73.73,0,0,0,139.06,317.7Zm33.19-19.16-4.54,2.62c-.19.11-.21.28,0,.38l4.35,2.51a.71.71,0,0,0,.66,0l4.54-2.62c.19-.11.21-.28,0-.38l-4.35-2.51A.71.71,0,0,0,172.25,298.54ZM159,306.2l-4.55,2.62c-.19.11-.21.28,0,.38l4.34,2.51a.73.73,0,0,0,.66,0l4.54-2.62c.2-.11.21-.28,0-.38l-4.34-2.51A.73.73,0,0,0,159,306.2ZM152.34,310l-4.54,2.63c-.2.11-.21.28,0,.38l4.34,2.51a.77.77,0,0,0,.66,0l4.54-2.62c.2-.11.21-.28,0-.38L153,310A.73.73,0,0,0,152.34,310Zm-6.64,3.84-4.54,2.62c-.2.11-.21.28,0,.38l4.34,2.51a.73.73,0,0,0,.66,0l4.55-2.63c.19-.11.21-.28,0-.38l-4.34-2.51A.71.71,0,0,0,145.7,313.87ZM176,316.44l4.54-2.62c.19-.12.21-.29,0-.39l-4.35-2.5a.73.73,0,0,0-.66,0L171,313.57c-.19.11-.21.28,0,.38l4.35,2.51A.73.73,0,0,0,176,316.44Zm61.93-55.83-4.54,2.62c-.2.12-.21.29,0,.39l4.34,2.5a.73.73,0,0,0,.66,0l4.54-2.62c.2-.11.21-.28,0-.38l-4.34-2.51A.73.73,0,0,0,237.94,260.61Zm-8,4.64-4.54,2.62c-.19.12-.21.29,0,.38l4.35,2.51a.73.73,0,0,0,.66,0l4.54-2.62c.19-.11.21-.28,0-.38l-4.35-2.51A.73.73,0,0,0,229.9,265.25Zm14.68-8.47L240,259.4c-.19.11-.21.28,0,.38l4.34,2.51a.73.73,0,0,0,.66,0l4.54-2.62c.2-.11.21-.29,0-.38l-4.34-2.51A.73.73,0,0,0,244.58,256.78Zm-36.7,34.09,4.55-2.63c.19-.11.21-.28,0-.38l-4.35-2.51a.77.77,0,0,0-.66,0L202.92,288c-.19.11-.21.28,0,.38l4.34,2.51A.73.73,0,0,0,207.88,290.87Zm44-38a.77.77,0,0,0-.66,0l-4.54,2.62c-.19.11-.21.28,0,.38l4.35,2.51a.73.73,0,0,0,.66,0l4.54-2.63c.19-.11.21-.28,0-.38ZM182.65,312.6l4.54-2.62c.19-.11.21-.28,0-.38l-4.35-2.51a.71.71,0,0,0-.66,0l-4.54,2.62c-.19.11-.21.28,0,.38l4.35,2.51A.71.71,0,0,0,182.65,312.6Zm81.4-47L268.6,263c.19-.11.21-.28,0-.38l-4.35-2.51a.71.71,0,0,0-.66,0l-4.54,2.62c-.19.11-.21.28,0,.38l4.34,2.51A.7.7,0,0,0,264.05,265.6Zm-12.84.25,4.54-2.62c.19-.11.21-.28,0-.38l-4.35-2.51a.73.73,0,0,0-.66,0L246.24,263c-.19.11-.21.28,0,.38l4.35,2.51A.77.77,0,0,0,251.21,265.85Zm6.87-9.34a.73.73,0,0,0-.66,0l-4.54,2.62c-.19.11-.21.29,0,.38l4.35,2.51a.73.73,0,0,0,.66,0l4.54-2.62c.19-.11.21-.28,0-.38Zm1.4-.81L270,261.79a.73.73,0,0,0,.66,0l4.54-2.62c.2-.11.21-.28,0-.38l-10.55-6.09a.73.73,0,0,0-.66,0l-4.54,2.62C259.33,255.43,259.31,255.6,259.48,255.7Zm-15.33,8.5-4.55,2.62c-.19.11-.21.28,0,.38l4.35,2.51a.73.73,0,0,0,.66,0l4.54-2.63c.19-.11.21-.28,0-.38l-4.34-2.51A.7.7,0,0,0,244.15,264.2Zm-50,28.84-4.54,2.62c-.19.12-.21.29,0,.39l4.35,2.5a.73.73,0,0,0,.66,0l4.54-2.62c.19-.11.21-.28,0-.38L194.84,293A.73.73,0,0,0,194.18,293Zm62.58-23.58a.73.73,0,0,0,.66,0l4.54-2.63c.19-.11.21-.28,0-.38l-4.35-2.51a.77.77,0,0,0-.66,0l-4.54,2.62c-.19.11-.21.28,0,.38Zm-55.94,19.75-4.54,2.62c-.19.11-.21.28,0,.38l4.35,2.51a.73.73,0,0,0,.66,0l4.54-2.62c.19-.11.21-.29,0-.38l-4.35-2.51A.73.73,0,0,0,200.82,289.21Zm-52,42.58a.73.73,0,0,0,.66,0l4.54-2.62c.19-.12.21-.29,0-.39l-4.35-2.5a.73.73,0,0,0-.66,0l-4.54,2.62c-.19.11-.21.28,0,.38Zm-7.72-8.09-4.55,2.63c-.19.11-.21.28,0,.38l4.34,2.51a.77.77,0,0,0,.66,0l4.54-2.62c.2-.11.21-.28,0-.38l-4.34-2.51A.73.73,0,0,0,141.08,323.7Zm15,4.24,4.55-2.63c.19-.11.21-.28,0-.38l-4.34-2.51a.71.71,0,0,0-.66,0l-4.54,2.62c-.2.11-.21.28,0,.38l4.34,2.51A.73.73,0,0,0,156.09,327.94Zm6.64-3.84,4.54-2.62c.2-.11.21-.28,0-.38L163,318.59a.73.73,0,0,0-.66,0l-4.54,2.63c-.2.11-.21.28,0,.38l4.34,2.51A.77.77,0,0,0,162.73,324.1Zm6.64-3.83,4.54-2.62c.2-.11.21-.28,0-.38l-4.34-2.51a.73.73,0,0,0-.66,0l-4.55,2.62c-.19.11-.21.29,0,.38l4.34,2.51A.73.73,0,0,0,169.37,320.27Zm-21.66-.4-4.54,2.62c-.19.11-.21.28,0,.38l4.35,2.51a.73.73,0,0,0,.66,0l4.54-2.62c.19-.11.21-.28,0-.38l-4.35-2.51A.73.73,0,0,0,147.71,319.87Zm6.64-3.83-4.54,2.62c-.19.11-.21.28,0,.38l4.35,2.51a.73.73,0,0,0,.66,0l4.54-2.63c.19-.11.21-.28,0-.38L155,316A.73.73,0,0,0,154.35,316Zm26.56-15.33-4.55,2.62c-.19.11-.21.28,0,.38l4.34,2.51a.73.73,0,0,0,.66,0l4.54-2.63c.2-.11.21-.28,0-.38l-4.34-2.51A.77.77,0,0,0,180.91,300.71Zm-6.64,3.83-4.54,2.62c-.2.11-.21.28,0,.38l4.34,2.51a.73.73,0,0,0,.66,0l4.54-2.62c.2-.11.21-.28,0-.38l-4.34-2.51A.73.73,0,0,0,174.27,304.54Zm13.27-7.67L183,299.5c-.19.11-.21.28,0,.38l4.35,2.51a.71.71,0,0,0,.66,0l4.54-2.62c.19-.11.21-.28,0-.38l-4.35-2.51A.73.73,0,0,0,187.54,296.87ZM161,312.21l-4.54,2.62c-.19.11-.21.28,0,.38l4.35,2.51a.71.71,0,0,0,.66,0l4.54-2.62c.19-.11.21-.28,0-.38l-4.35-2.51A.71.71,0,0,0,161,312.21Zm6.64-3.84L163.09,311c-.2.12-.21.29,0,.39l4.34,2.5a.73.73,0,0,0,.66,0l4.55-2.62c.19-.11.21-.28,0-.38l-4.35-2.51A.73.73,0,0,0,167.63,308.37Zm-8.47,25,4.54-2.62c.19-.11.21-.28,0-.38l-4.35-2.51a.71.71,0,0,0-.66,0l-4.54,2.62c-.19.11-.21.28,0,.38l4.35,2.51A.71.71,0,0,0,159.16,333.33Zm-35-1.65-4.34-2.51a.77.77,0,0,0-.66,0l-4.55,2.62c-.19.11-.21.28,0,.38l4.34,2.51a.73.73,0,0,0,.66,0l4.54-2.63C124.31,332,124.32,331.78,124.15,331.68Zm8.65,2.17-4.34-2.5a.73.73,0,0,0-.66,0l-7,4c-.19.11-.21.28,0,.38l4.35,2.51a.73.73,0,0,0,.66,0l7-4C133,334.12,133,334,132.8,333.85Zm-15.13-7.12-4.35-2.51a.73.73,0,0,0-.66,0l-5.59,3.23c-.19.11-.21.28,0,.38l4.35,2.51a.73.73,0,0,0,.66,0l5.59-3.23C117.82,327,117.84,326.83,117.67,326.73Zm4.28-2.48a.73.73,0,0,0,.66,0l4.54-2.62c.2-.11.21-.28,0-.38l-4.34-2.51a.73.73,0,0,0-.66,0l-4.54,2.62c-.2.12-.22.29,0,.38Zm18.81,12.18-4.35-2.51a.73.73,0,0,0-.66,0L127,339c-.19.11-.21.28,0,.38l4.35,2.51a.71.71,0,0,0,.66,0l8.73-5C140.91,336.7,140.93,336.53,140.76,336.43Zm3.06,5.4-4.34-2.51a.73.73,0,0,0-.66,0l-5.59,3.23c-.2.11-.21.28,0,.38l4.34,2.51a.73.73,0,0,0,.66,0l5.59-3.23C144,342.1,144,341.93,143.82,341.83Zm27.49-46.07a.73.73,0,0,0,.66,0l4.54-2.63c.19-.11.21-.28,0-.38l-4.35-2.51a.71.71,0,0,0-.66,0L167,292.87c-.19.11-.21.28,0,.38ZM158,303.42a.73.73,0,0,0,.66,0l4.54-2.62c.2-.11.21-.28,0-.38l-4.34-2.51a.73.73,0,0,0-.66,0l-4.54,2.62c-.2.11-.22.28,0,.38Zm-29.44,17a.73.73,0,0,0,.66,0l4.54-2.62c.19-.12.21-.29,0-.38l-4.34-2.51a.73.73,0,0,0-.66,0l-4.55,2.62c-.19.11-.21.28,0,.38Zm36.08-20.83a.73.73,0,0,0,.66,0l4.54-2.62c.19-.12.21-.29,0-.39l-4.34-2.5a.73.73,0,0,0-.66,0l-4.55,2.62c-.19.11-.21.28,0,.38Zm-13.28,7.67a.77.77,0,0,0,.66,0l4.54-2.62c.2-.11.22-.28,0-.38l-4.34-2.51a.73.73,0,0,0-.66,0l-4.54,2.63c-.2.11-.21.28,0,.38Zm-4.31,34.84a.73.73,0,0,0-.66,0l-7,4c-.19.12-.21.29,0,.39l4.34,2.5a.73.73,0,0,0,.66,0l7-4c.19-.11.21-.28,0-.38Zm-5.21-29.34a.77.77,0,0,0,.66,0l4.54-2.62c.19-.11.21-.28,0-.38l-4.35-2.51a.73.73,0,0,0-.66,0l-4.54,2.63c-.19.11-.21.28,0,.38Zm-6.64,3.83a.73.73,0,0,0,.66,0l4.54-2.63c.19-.11.21-.28,0-.38l-4.35-2.51a.74.74,0,0,0-.66,0l-4.54,2.62c-.19.11-.21.28,0,.38Zm134.84-45.5a.71.71,0,0,0-.66,0l-11.18,6.45c-.2.11-.21.28,0,.38l4.34,2.51a.73.73,0,0,0,.66,0L274.37,274c.2-.11.21-.28,0-.38Zm-14.68,8.48a.73.73,0,0,0-.66,0l-4.54,2.62c-.19.11-.21.28,0,.38l4.35,2.51a.73.73,0,0,0,.66,0l4.54-2.63c.19-.11.21-.28,0-.38Zm-89.6,49.93,4.55-2.62c.19-.11.21-.28,0-.38L166,324a.73.73,0,0,0-.66,0l-4.54,2.63c-.19.11-.21.28,0,.38l4.35,2.5A.71.71,0,0,0,165.79,329.5Zm76.33-42.27a.73.73,0,0,0-.66,0l-4.55,2.63c-.19.11-.21.28,0,.38l4.34,2.51a.77.77,0,0,0,.66,0l4.54-2.62c.2-.11.21-.28,0-.38Zm34.59-20a.73.73,0,0,0-.66,0l-4.55,2.63c-.19.11-.21.28,0,.38l4.35,2.5a.73.73,0,0,0,.66,0l4.54-2.62c.19-.11.21-.28,0-.38Zm11-1.32-10.55-6.1a.7.7,0,0,0-.66,0l-4.55,2.62c-.19.11-.21.28,0,.38L282.45,269a.73.73,0,0,0,.66,0l4.54-2.62C287.84,266.21,287.86,266,287.69,265.94Zm-70.38,35.61a.71.71,0,0,0-.66,0l-5.59,3.22c-.19.11-.21.28,0,.38l4.35,2.51a.73.73,0,0,0,.66,0l5.59-3.23c.19-.11.21-.28,0-.38Zm16.77-9.68a.73.73,0,0,0-.66,0l-7,4c-.19.11-.21.28,0,.38l4.35,2.51a.71.71,0,0,0,.66,0l7-4c.19-.11.21-.28,0-.38Zm-32.14,18.56a.73.73,0,0,0-.66,0L163.89,332c-.19.12-.21.29,0,.39l4.35,2.5a.73.73,0,0,0,.66,0l37.38-21.58c.2-.11.21-.28,0-.38Zm-39.48,22.79a.73.73,0,0,0-.66,0l-5.59,3.23c-.2.11-.22.28,0,.38l4.34,2.51a.73.73,0,0,0,.66,0l5.59-3.23c.19-.11.21-.28,0-.38ZM209.62,306a.73.73,0,0,0-.66,0l-5.59,3.23c-.19.11-.21.28,0,.38l4.35,2.51a.73.73,0,0,0,.66,0l5.59-3.23c.19-.11.21-.28,0-.38Zm-54.85,31.67a.73.73,0,0,0-.66,0l-5.59,3.23c-.19.11-.21.28,0,.38l4.35,2.51a.73.73,0,0,0,.66,0l5.59-3.23c.19-.11.21-.28,0-.38ZM225,297.11a.77.77,0,0,0-.66,0l-5.59,3.22c-.2.12-.21.29,0,.39l4.34,2.5a.73.73,0,0,0,.66,0L229.3,300c.2-.11.21-.28,0-.38Zm23.75-13.71a.73.73,0,0,0-.66,0L243.55,286c-.19.11-.21.28,0,.38l4.35,2.51a.73.73,0,0,0,.66,0l4.54-2.62c.19-.11.21-.28,0-.38ZM263.62,273l4.55-2.62c.19-.11.21-.28,0-.38l-4.34-2.51a.73.73,0,0,0-.66,0l-4.54,2.62c-.2.12-.21.29,0,.38L263,273A.73.73,0,0,0,263.62,273Zm-27.09,1.31,4.55-2.63c.19-.11.21-.28,0-.38l-4.35-2.51a.71.71,0,0,0-.66,0l-4.54,2.62c-.2.11-.21.28,0,.38l4.34,2.51A.73.73,0,0,0,236.53,274.33ZM218.9,298.84l13.28-7.66c.19-.12.21-.29,0-.39l-4.35-2.5a.73.73,0,0,0-.66,0L213.94,296c-.2.12-.21.29,0,.38l4.34,2.51A.73.73,0,0,0,218.9,298.84Zm37.43-22a.71.71,0,0,0,.65,0l4.55-2.62c.19-.11.21-.28,0-.38l-4.35-2.51a.73.73,0,0,0-.66,0L252,274c-.19.11-.21.28,0,.38Zm-5.55-3.61,4.54-2.62c.19-.11.21-.28,0-.38L251,267.76a.73.73,0,0,0-.66,0l-4.54,2.62c-.19.11-.21.28,0,.38l4.35,2.51A.73.73,0,0,0,250.78,273.27Zm-38.52,29.4,4.55-2.62c.19-.11.21-.28,0-.38l-4.34-2.51a.73.73,0,0,0-.66,0l-4.54,2.63c-.2.11-.21.28,0,.38l4.34,2.51A.7.7,0,0,0,212.26,302.67Zm29.39-17.32a.73.73,0,0,0,.66,0l4.54-2.63c.2-.11.21-.28,0-.38l-4.34-2.51a.7.7,0,0,0-.66,0l-4.55,2.62c-.19.11-.21.28,0,.38Zm-62.58,36.49,4.54-2.63c.2-.11.21-.28,0-.38l-4.34-2.51a.77.77,0,0,0-.66,0L174.11,319c-.2.11-.21.28,0,.38l4.34,2.51A.73.73,0,0,0,179.07,321.84Zm6.64-3.84,4.54-2.62c.2-.11.21-.28,0-.38L186,312.49a.73.73,0,0,0-.66,0l-4.55,2.63c-.19.11-.21.28,0,.38l4.35,2.51A.71.71,0,0,0,185.71,318Zm-13.28,7.67,4.55-2.62c.19-.11.21-.28,0-.38l-4.34-2.51a.73.73,0,0,0-.66,0l-4.54,2.62c-.2.11-.21.28,0,.38l4.34,2.51A.73.73,0,0,0,172.43,325.67ZM199,310.34l4.54-2.62c.19-.11.21-.29,0-.38l-4.35-2.51a.73.73,0,0,0-.66,0L194,307.47c-.19.11-.21.28,0,.38l4.35,2.51A.73.73,0,0,0,199,310.34Zm-6.64,3.83,4.54-2.62c.19-.11.21-.28,0-.38l-4.35-2.51a.73.73,0,0,0-.66,0l-4.54,2.62c-.19.12-.21.29,0,.39l4.35,2.5A.73.73,0,0,0,192.35,314.17Zm13.27-7.66,4.55-2.63c.19-.11.21-.28,0-.38L205.86,301a.77.77,0,0,0-.66,0l-4.54,2.62c-.19.11-.21.28,0,.38l4.35,2.51A.71.71,0,0,0,205.62,306.51Zm36.23-53.32a.73.73,0,0,0,.66,0l4.54-2.63c.2-.11.21-.28,0-.38l-1.15-.67a.77.77,0,0,0-.66,0l-4.55,2.62c-.19.11-.21.28,0,.38Zm-33,20.89a.73.73,0,0,0,.66,0l4.54-2.63c.19-.11.21-.28,0-.38l-4.35-2.5a.73.73,0,0,0-.66,0l-4.54,2.62c-.19.11-.21.28,0,.38Zm13.27-7.67a.73.73,0,0,0,.66,0l4.54-2.62c.2-.11.21-.28,0-.38L223,260.88a.73.73,0,0,0-.66,0l-4.54,2.62c-.2.12-.21.29,0,.39Zm-21.38,12.35a.73.73,0,0,0,.66,0l4.54-2.63c.19-.11.21-.28,0-.38l-4.34-2.51a.77.77,0,0,0-.66,0l-4.55,2.62c-.19.11-.21.28,0,.38Zm14.74-8.51a.7.7,0,0,0,.66,0l4.55-2.62c.19-.11.21-.28,0-.38l-4.34-2.51a.73.73,0,0,0-.66,0l-4.54,2.63c-.2.11-.21.28,0,.38Zm-28,16.17a.73.73,0,0,0,.66,0l4.54-2.62c.2-.11.22-.28,0-.38l-4.34-2.51a.73.73,0,0,0-.66,0l-4.54,2.62c-.2.12-.21.29,0,.39Zm6.64-3.83a.73.73,0,0,0,.66,0l4.54-2.62c.2-.11.21-.28,0-.38L195,277.06a.73.73,0,0,0-.66,0l-4.54,2.62c-.2.11-.22.28,0,.38Zm34.46-21.74a.73.73,0,0,0,.66,0l4.55-2.62c.19-.11.21-.28,0-.38l-1.16-.67a.73.73,0,0,0-.66,0l-4.54,2.63c-.2.11-.21.28,0,.38Zm19.92-11.49a.74.74,0,0,0,.66,0l4.54-2.62c.19-.11.21-.28,0-.38l-1.16-.67a.71.71,0,0,0-.66,0l-4.54,2.62c-.19.11-.21.28,0,.38Zm9.13,5.27a.71.71,0,0,0,.66,0l4.54-2.62c.19-.11.21-.28,0-.38l-4.35-2.51a.73.73,0,0,0-.66,0l-4.54,2.63c-.19.11-.21.28,0,.38Zm12.64,14.56,4.54-2.62c.2-.12.21-.29,0-.38l-4.34-2.51a.73.73,0,0,0-.66,0l-4.54,2.62c-.2.11-.21.28,0,.38l4.34,2.51A.73.73,0,0,0,270.26,269.19Zm-35-12.17a.73.73,0,0,0,.66,0l4.54-2.62c.2-.11.21-.29,0-.38l-1.15-.67a.73.73,0,0,0-.66,0L234.09,256c-.19.11-.21.28,0,.38Zm-54.38,33.24a.7.7,0,0,0,.66,0l4.55-2.62c.19-.11.21-.28,0-.38l-4.35-2.51a.71.71,0,0,0-.66,0l-4.54,2.62c-.19.11-.21.28,0,.38Z"
        style="fill: rgb(69, 90, 100); transform-origin: 197.373px 297.339px"
        id="elapq50nd8off"
        class="animable"
      ></path>
      <polygon
        points="199.85 328.03 200.84 328.6 227.07 343.75 273.72 316.81 274.69 316.26 247.47 300.55 199.85 328.03"
        style="fill: rgb(38, 50, 56); transform-origin: 237.27px 322.15px"
        id="el7r75yuly3j6"
        class="animable"
      ></polygon>
      <polygon
        points="273.12 317.16 247.47 302.36 201.43 328.95 227.07 343.75 273.12 317.16"
        style="fill: rgb(55, 71, 79); transform-origin: 237.275px 323.055px"
        id="elfxjp6f49tu6"
        class="animable"
      ></polygon>
    </g>
    <g
      id="freepik--character--inject-5"
      class="animable"
      style="transform-origin: 187.046px 172.183px"
    >
      <path
        d="M139.75,56.8c-8.2-5.37-18.77-4.41-24.49-.08-8,6.08-10.82,12.77-12.26,26-2,18.64-4.1,24-6.31,28.23a15.73,15.73,0,0,1-9.24,7.87,10.89,10.89,0,0,0,10.59.43c-1.88,9-4.5,16.55-2.17,26.06,1.57,6.4,4.91,13.65,9.84,18.24,4.2,3.91,10.21,5.1,15.26,7.31-3.41-7.31-5.24-14.21-2.88-22.43,2.6-9.07,8.68-16.79,11.37-25.93,3.74-12.64,8-25.74,9.07-38.93C139.42,72.45,139.84,64.44,139.75,56.8Z"
        style="fill: rgb(38, 50, 56); transform-origin: 113.606px 111.988px"
        id="elcszuo95y62i"
        class="animable"
      ></path>
      <path
        d="M135.66,58.47c-1.31-1.23-7.1-.43-10.6,3.74s-5.58,10.23-1.33,13.48C127.71,78.74,143.18,62.51,135.66,58.47Z"
        style="fill: rgb(186, 104, 200); transform-origin: 129.524px 67.0064px"
        id="elrqhxbiknnz"
        class="animable"
      ></path>
      <path
        d="M183.15,76.77c2.88-1.06,4.11-4.77,3.25-7.72s-3.27-5.19-5.84-6.88a30.17,30.17,0,0,0-19.86-4.62,39.14,39.14,0,0,0-19.95-1,20.73,20.73,0,0,0-16,18.67c-10.27,2.42-14.76,15-8.42,28.5,4.61,9.76,15,16.51,16.29,21.37l38.94-30.26c1.52,2.37,6.22,2.48,8.14,1.54s3.12-4.42,1.84-6.14a6.78,6.78,0,0,0,1.6-13.47Z"
        style="fill: rgb(38, 50, 56); transform-origin: 151.263px 90.3984px"
        id="elokh73qvjoe"
        class="animable"
      ></path>
      <path
        d="M140.75,56.56a21.12,21.12,0,0,0-10.83,6.91A20,20,0,0,0,126.6,69a20.79,20.79,0,0,0-1.38,6.27l0,.33-.32.08a13.21,13.21,0,0,0-6.37,3.56,15.35,15.35,0,0,0-3.7,6.33,24.2,24.2,0,0,0,.67,14.71,37.44,37.44,0,0,0,7.8,12.84c1.67,1.92,3.43,3.76,5.12,5.67.85,1,1.7,1.91,2.46,3a10.12,10.12,0,0,1,1.78,3.37,10.31,10.31,0,0,0-1.95-3.24,38.06,38.06,0,0,0-2.56-2.82c-1.79-1.82-3.61-3.61-5.33-5.5a50.89,50.89,0,0,1-4.8-6,29.87,29.87,0,0,1-3.42-6.94A27.24,27.24,0,0,1,113,93a20.94,20.94,0,0,1,.82-7.74,16.29,16.29,0,0,1,4-6.71,14.17,14.17,0,0,1,6.85-3.75l-.35.41a20.61,20.61,0,0,1,5.16-12.11,21.27,21.27,0,0,1,5.13-4.19A19.32,19.32,0,0,1,140.75,56.56Z"
        id="elrsxs8i7pn4"
        class="animable"
        style="transform-origin: 126.84px 90.86px"
      ></path>
      <path
        d="M283.45,140.81c2.14-1.82,2.53-2.29,5.41-4.6,2.14-1.71,3.85-3.1,4.4-4.1,1.08-2,.07-3.93-.83-3.61-1.81.64-3.95,2.17-8.12,5-4.59,3.15-7.83,6.26-8.07,5.76a49.82,49.82,0,0,1,4.89-5.8c5.62-6.07,6.72-7.17,7.75-9.12,2.18-4.06-.88-4.73-2.22-3.89-1.53,1-3.19,2.79-7.21,6.78-4.36,4.33-8.16,8.74-8.51,8.48s5.69-6.87,9.31-11.71c3.35-4.49,1.17-6.39.21-6.54s-2.19,1.15-3.81,2.89C273.72,123.54,265.2,134,263.42,136s-3.13,2.72-3.36-.51c-.22-3-.07-6.26-1.39-8.35-2.21-3.49-4.65-2.63-4.66-.3,0,3.3-.79,7-1.37,12.27-.31,2.75-.26,6-.32,7.94-.34,6.69-5.95,10.15-10.62,13.37s-17.39,10.47-17.39,10.47-23.72-24.43-30.64-30.41c-8.22-7.12-10.57-7.62-22.18-7.53l16.42,42.23s22.32,20.65,29.9,25.06,10.66,2,19.87-6.17c7.07-6.27,18.71-20.64,21.52-23.83s4-5.25,7.29-6.45c4.43-1.62,6.71-3.85,9.66-7.23,1.41-1.61,3.74-4.85,5.89-7a100.09,100.09,0,0,1,9.19-7.73c1.94-1.63,2.24-5-.48-3.92-5.16,2-10.33,6.36-10.5,6.07S282,142.05,283.45,140.81Z"
        style="fill: rgb(255, 189, 167); transform-origin: 232.609px 159.932px"
        id="elvest2aj6o4c"
        class="animable"
      ></path>
      <path
        d="M261.86,141c2.37,3.49,2.9,11.74.59,16.65C267.22,153,266.72,144.59,261.86,141Z"
        style="fill: rgb(240, 153, 122); transform-origin: 263.819px 149.325px"
        id="el7r93tspuzxi"
        class="animable"
      ></path>
      <path
        d="M224.31,170.93c-3.93,2.57-8.62,10-7.28,17.64-1.71-5.64-3.19-12.68,5.43-19.7Z"
        style="fill: rgb(240, 153, 122); transform-origin: 220.015px 178.72px"
        id="eldubbb3785iv"
        class="animable"
      ></path>
      <path
        d="M111,145.34l9.15-3.66s13.65-3.54,25-6c12-1.51,22.31-2.64,22.31-2.64l4.05-.07s9,7.92,15.59,15.23,12.38,13.42,12.75,22.65c.49,12.47-7.52,17-7.52,17l.49,15.89,10.41,29.45-100.6,58.06c3.06-35.85,11-41.76,15.49-66.61-.86-13-7.33-30.84-8.43-39.9C105.85,153.45,111,145.34,111,145.34Z"
        style="fill: rgb(186, 104, 200); transform-origin: 152.93px 212.11px"
        id="elzzxy909er5"
        class="animable"
      ></path>
      <g
        id="freepik--Top--inject-5"
        class="animable"
        style="transform-origin: 149.666px 108.957px"
      >
        <path
          d="M132.26,129.72c.38-4.39,1-13.12,1-13.12-1.09,1.45-7,3.46-11-2.22-4.66-6.55-3.92-11.24-.67-14.38,3.7-3.58,10.18-2.66,12.88,3,1.69,4,5-.72,1.67-7-1.11-11.06,13-3.73,21.79-26.79,8.87-.5,14.22,2,18.53,9.38,2,3.34,4.33,8.15,3.85,22.08-.62,17.74-3.29,23.32-9.5,26.29-2.86,1.37-5.8,1.89-11.31,1.48l-.05,1.7a8.18,8.18,0,0,0,.06,1.18,2,2,0,0,0,1.88,1.89,45.49,45.49,0,0,0,6.09-.17S172,144.4,157,147.63a51.7,51.7,0,0,1-36.9-5.95,53.64,53.64,0,0,0,6.43-3.89C131.16,134.44,132,132.47,132.26,129.72Z"
          style="
            fill: rgb(255, 189, 167);
            transform-origin: 149.666px 108.957px;
          "
          id="elic4njyvs62e"
          class="animable"
        ></path>
        <path
          d="M126.51,113.54a2.16,2.16,0,1,0,2.09-2.24A2.15,2.15,0,0,0,126.51,113.54Z"
          style="
            fill: rgb(250, 250, 250);
            transform-origin: 128.668px 113.459px;
          "
          id="elt1eety58mt"
          class="animable"
        ></path>
        <path
          d="M154.84,111.17l9.64,3a5,5,0,0,1-6.23,3.5A5.29,5.29,0,0,1,154.84,111.17Z"
          style="fill: rgb(177, 102, 104); transform-origin: 159.554px 114.52px"
          id="el5h9xuijeafn"
          class="animable"
        ></path>
        <path
          d="M155.47,113.39a5.54,5.54,0,0,1,5.58,4.29,4.86,4.86,0,0,1-2.8,0,5.21,5.21,0,0,1-3.53-4.18A6.15,6.15,0,0,1,155.47,113.39Z"
          style="
            fill: rgb(242, 143, 143);
            transform-origin: 157.885px 115.637px;
          "
          id="el5jiilj9h4sd"
          class="animable"
        ></path>
        <path
          d="M176.58,87.07l-6.07-1.45a3,3,0,0,1,3.65-2.36A3.28,3.28,0,0,1,176.58,87.07Z"
          style="fill: rgb(38, 50, 56); transform-origin: 173.575px 85.1233px"
          id="elvwzcvl9gzug"
          class="animable"
        ></path>
        <path
          d="M147,86.76l5.91-2.23a3,3,0,0,0-4-1.9A3.32,3.32,0,0,0,147,86.76Z"
          style="fill: rgb(38, 50, 56); transform-origin: 149.87px 84.5842px"
          id="elmpoqij1bdgq"
          class="animable"
        ></path>
        <path
          d="M170.62,94.94A2.69,2.69,0,0,0,173,97.75a2.51,2.51,0,0,0,2.77-2.32,2.68,2.68,0,0,0-2.42-2.81A2.51,2.51,0,0,0,170.62,94.94Z"
          style="fill: rgb(38, 50, 56); transform-origin: 173.195px 95.187px"
          id="elc6ab2m5xhgh"
          class="animable"
        ></path>
        <path
          d="M149.47,95.07a2.67,2.67,0,0,0,2.41,2.82,2.5,2.5,0,0,0,2.77-2.32,2.66,2.66,0,0,0-2.41-2.81A2.51,2.51,0,0,0,149.47,95.07Z"
          style="fill: rgb(38, 50, 56); transform-origin: 152.06px 95.3255px"
          id="el3cu57g9wbom"
          class="animable"
        ></path>
        <path
          d="M159.46,128.45a48.14,48.14,0,0,1-16.53-4.64,15.53,15.53,0,0,1-6.44-7.14,12.29,12.29,0,0,0,4.44,9c5,4.2,18.54,5.62,18.54,5.62a6.15,6.15,0,0,1-.06-1.18Z"
          style="fill: rgb(240, 153, 122); transform-origin: 147.98px 123.98px"
          id="el4f23z2dnmv2"
          class="animable"
        ></path>
      </g>
      <g
        id="freepik--Arm--inject-5"
        class="animable"
        style="transform-origin: 129.022px 197.394px"
      >
        <path
          d="M152.31,190c4.88-4.15,7.36-5.79,9.71-6.61s10.5-4.84,13.66-5.84c2-.64,3,2.55.58,4.94-1.89,1.84-6.94,4.42-9.14,5.81s-6.33,7.11-6.33,7.11Z"
          style="
            fill: rgb(240, 153, 122);
            transform-origin: 164.994px 186.438px;
          "
          id="el0n22pos9wba"
          class="animable"
        ></path>
        <path
          d="M141.24,226.44c-16,9.08-30,20.39-45.51,22.72-15.12,2.26-15.59-10.26-15.32-19.59.34-11.78,6.94-48.72,10.37-61,3.64-13.07,6-17.89,20.17-23.21,11.7,7.67,9,33,6.51,42.67-2.65,10.09-6.94,28.94-6.94,28.94s18.44-5.81,22.87-8.15,11.85-12.3,14.78-15.49c4-4.34,6.13-3.93,8.3-3.74,7.13.62,8.72,1.11,10.27,2a3.19,3.19,0,0,1,1.55,2.66c1.89.12,4.69-.12,5.25,2.94a8.57,8.57,0,0,1,.27,2.46,2.06,2.06,0,0,1,1.26.62c1.68,1.71-.61,8.14-2.21,9.77-1.13,1.15-2.82,1.39-5.07,1.23-1.92-.14-1.16-2.13-1.16-2.13l-2.65.33c-5.48,4.44-5.75,11-13.23,13.26A34.05,34.05,0,0,0,141.24,226.44Z"
          style="
            fill: rgb(255, 189, 167);
            transform-origin: 128.012px 197.394px;
          "
          id="elqvhb4fhnn2o"
          class="animable"
        ></path>
        <path
          d="M168.29,194.2,159.8,193H168A3.22,3.22,0,0,1,168.29,194.2Z"
          style="fill: rgb(240, 153, 122); transform-origin: 164.045px 193.6px"
          id="el9beagcyc2qb"
          class="animable"
        ></path>
        <path
          d="M173.81,199.6l-9.73-.64,9.67-.48A5.09,5.09,0,0,1,173.81,199.6Z"
          style="fill: rgb(240, 153, 122); transform-origin: 168.949px 199.04px"
          id="elmn0qetfecdf"
          class="animable"
        ></path>
        <path
          d="M172.8,203.93a3,3,0,0,1-1.22,1.21,6.37,6.37,0,0,1-1.62.67l.12-.1c-.22.52-.47,1-.71,1.54l-.22-.24a1.93,1.93,0,0,1,1.56.28,2.56,2.56,0,0,1,.92,1.21,3,3,0,0,0-1-1,1.91,1.91,0,0,0-1.32-.16l-.37.1.15-.35c.23-.52.46-1,.72-1.54l0-.08.08,0a8.86,8.86,0,0,0,1.57-.55A3.54,3.54,0,0,0,172.8,203.93Z"
          style="fill: rgb(240, 153, 122); transform-origin: 170.87px 206.215px"
          id="el6n9b3b6o4h8"
          class="animable"
        ></path>
        <path
          d="M170.32,205.34a29.51,29.51,0,0,1-3.48.46,3.78,3.78,0,0,1-1.08,1.93,20,20,0,0,1-1.78,1.69l2.65-.33s.58-1.23,2.94-1.84Z"
          style="fill: rgb(240, 153, 122); transform-origin: 167.15px 207.38px"
          id="el83z9jc2k1vm"
          class="animable"
        ></path>
        <path
          d="M111.32,213.46l-.8,3.49c-6.81,2.22-14,7.52-15.41,11.41C96,222.27,99.34,217.48,111.32,213.46Z"
          style="fill: rgb(240, 153, 122); transform-origin: 103.215px 220.91px"
          id="eloodxbpi8dga"
          class="animable"
        ></path>
      </g>
      <path
        d="M182.75,88.36l-1-.13c-3.35-.35-7.81-.43-10.5.46-3.48,1.16-4.68,2.44-6.71,2.49-2.2,0-3.65-1.23-7.75-2.34-3.34-.88-9-.72-13.5-.25l-1.43.16A2.25,2.25,0,0,0,140.2,91a4.78,4.78,0,0,0,1.34,2.61,3.23,3.23,0,0,1,.46,1.06c.46,1.84.73,5.43,1.67,7.41a8.76,8.76,0,0,0,1.84,2.64,6.72,6.72,0,0,0,.94.75l.55.34a8,8,0,0,0,1.61.66l.27.07.42.1.45.07a10,10,0,0,0,1.4.13h.6l.74,0c5.63-.37,7.83-3.22,9.06-6s.73-6.45,3.11-6.51h.22a.71.71,0,0,1,.21,0c1.75.36,1.71,3.73,2.93,6.14a10.45,10.45,0,0,0,1.81,2.61,5.33,5.33,0,0,0,.42.4l.22.18.23.18.21.15.23.15.18.1.12.07a7,7,0,0,0,2.05.74l.18,0a9.39,9.39,0,0,0,2.41.1,6.53,6.53,0,0,0,6.29-5.13c.53-1.8.5-4.92.68-6.55a1.85,1.85,0,0,1,.3-.84,4.31,4.31,0,0,0,.71-2.34C184,89.33,183.32,88.43,182.75,88.36Zm-22.66,10a8.37,8.37,0,0,1-1.76,3.88h0a8,8,0,0,1-6,2.59,6.68,6.68,0,0,1-6.09-2.55c-.07-.09-.13-.19-.19-.28a2.11,2.11,0,0,1-.18-.27,1.74,1.74,0,0,1-.15-.26l-.13-.23-.09-.19a1.3,1.3,0,0,1-.08-.17c0-.09-.09-.18-.13-.28h0c-.11-.28-.21-.55-.3-.82a0,0,0,0,0,0,0c-.05-.16-.1-.33-.14-.49s-.15-.55-.2-.79l0-.15s0-.09,0-.14c-.43-1.94-.93-5.73.08-6.59s3.58-1.76,7.72-1.42l.44,0a16.55,16.55,0,0,1,1.85.29c.24,0,.48.1.72.16a13.81,13.81,0,0,1,1.78.54l.55.21c.21.08.4.18.59.27l.12.06.21.11a3.7,3.7,0,0,1,1.21.93C160.62,93.85,160.47,96.24,160.09,98.33Zm21.39-1.65c-.14,1.36-.45,4.35-2.79,5.81a5.51,5.51,0,0,1-2.6.8,5.89,5.89,0,0,1-5.67-2.42l0,0-.11-.16a1.45,1.45,0,0,1-.12-.19.61.61,0,0,1-.07-.1l-.16-.28-.17-.33c0-.06-.05-.11-.07-.17a.36.36,0,0,1,0-.09.75.75,0,0,1-.06-.13l0-.11a10.76,10.76,0,0,1-.43-1.34c-.5-2-.83-4.3-.2-5.41s3.22-2.31,5.7-2.67c.57-.08,1.1-.13,1.6-.15h1.14l.26,0,.43.05a6.34,6.34,0,0,1,.8.14l.18,0h.05l.13,0,.19,0,.24.08.38.15.07,0a3.62,3.62,0,0,1,.88.55C181.75,91.61,181.65,95,181.48,96.68Z"
        style="fill: rgb(55, 71, 79); transform-origin: 162.129px 97.4119px"
        id="eltoqi218sq2e"
        class="animable"
      ></path>
      <path
        d="M141.12,89.63,128.3,98A7.15,7.15,0,0,1,132,99.71l9.84-6.7Z"
        style="fill: rgb(55, 71, 79); transform-origin: 135.07px 94.67px"
        id="elgicnzkh0nxf"
        class="animable"
      ></path>
      <path
        d="M172.38,105.44l-7.8,3.91-2-12.4a3.45,3.45,0,0,1,1.24-2.43Z"
        style="fill: rgb(240, 153, 122); transform-origin: 167.48px 101.935px"
        id="el72tm73pbjcq"
        class="animable"
      ></path>
    </g>
    <g
      id="freepik--video-bar--inject-5"
      class="animable"
      style="transform-origin: 153.105px 251.36px"
    >
      <g
        id="freepik--Window--inject-5"
        class="animable"
        style="transform-origin: 153.105px 251.36px"
      >
        <g id="els7wwpaq7gtg">
          <path
            d="M230.33,205.79a1.17,1.17,0,0,0-.05-.27,0,0,0,0,0,0-.05,1.67,1.67,0,0,0-.06-.26,1.56,1.56,0,0,0-.17-.37.49.49,0,0,0-.1-.15.44.44,0,0,0-.08-.1.85.85,0,0,0-.19-.19l0,0a.89.89,0,0,0-.25-.14,2.09,2.09,0,0,0-1.94.24L82.36,288c-1.59.92-2.89,2.32-2.89,6.37v4.35a2,2,0,0,0,3,1.72l145-83.49a6.4,6.4,0,0,0,2.89-5v-5.77C230.35,206,230.34,205.9,230.33,205.79Z"
            style="
              fill: rgb(69, 90, 100);
              opacity: 0.8;
              transform-origin: 154.915px 252.416px;
            "
            class="animable"
          ></path>
        </g>
        <g id="elqs41bneu1w">
          <path
            d="M80.47,300.41l-.11-.05-3-1.77a3.08,3.08,0,0,1-1.51-2.23c0-.14,0-.28,0-.42v-5.06a6,6,0,0,1,1-3.13l0,0,3.56,2.05a8.29,8.29,0,0,0-.94,4.21v4.66a2.13,2.13,0,0,0,.14.71A2,2,0,0,0,80.47,300.41Z"
            style="
              fill: rgb(38, 50, 56);
              opacity: 0.9;
              transform-origin: 78.16px 294.08px;
            "
            class="animable"
          ></path>
        </g>
        <g id="elueevve1cna">
          <path
            d="M229.4,204.24a2.07,2.07,0,0,0-1.94.25L82.36,288a6.16,6.16,0,0,0-.8.57,4.16,4.16,0,0,0-.48.46,4.06,4.06,0,0,0-.64.84l-3.62-2.08a6.23,6.23,0,0,1,.61-.82l.23-.25.24-.23.25-.21a4.4,4.4,0,0,1,.52-.36L223.78,202.4a2,2,0,0,1,2.09-.17C226.4,202.55,228.78,203.91,229.4,204.24Z"
            style="
              fill: rgb(69, 90, 100);
              opacity: 0.6;
              transform-origin: 153.11px 245.941px;
            "
            class="animable"
          ></path>
        </g>
        <g id="elisscnoba54c">
          <path
            d="M80.47,300.41l0,0Z"
            style="
              fill: rgb(38, 50, 56);
              opacity: 0.9;
              transform-origin: 80.47px 300.41px;
            "
            class="animable"
          ></path>
        </g>
      </g>
      <path
        d="M90.38,291.38v-3.55c0-.26.16-.53.32-.53l3.13,0c.2,0,.2.45,0,.69l-3.13,3.57C90.54,291.71,90.38,291.63,90.38,291.38Z"
        style="fill: rgb(255, 255, 255); transform-origin: 92.18px 289.468px"
        id="elsopancabw8t"
        class="animable"
      ></path>
      <path
        d="M97.66,287.17v-3.55c0-.25.16-.52.32-.52l3.13,0c.2,0,.2.45,0,.68L98,287.33C97.82,287.51,97.66,287.43,97.66,287.17Z"
        style="fill: rgb(255, 255, 255); transform-origin: 99.46px 285.264px"
        id="el7o8hvjs0du8"
        class="animable"
      ></path>
      <path
        d="M101.5,285.32h0c-.13.08-.24,0-.24-.18V281.5a.59.59,0,0,1,.24-.46h0c.13-.07.24,0,.24.18v3.65A.57.57,0,0,1,101.5,285.32Z"
        style="fill: rgb(255, 255, 255); transform-origin: 101.5px 283.182px"
        id="elec0wt36andn"
        class="animable"
      ></path>
      <path
        d="M86.7,293.5V290c0-.25-.16-.33-.32-.16l-3.12,3.58c-.21.24-.21.69,0,.69l3.12,0C86.54,294,86.7,293.75,86.7,293.5Z"
        style="fill: rgb(255, 255, 255); transform-origin: 84.9012px 291.93px"
        id="el1gvzktgggzv"
        class="animable"
      ></path>
      <path
        d="M82.86,296.08h0a.57.57,0,0,0,.24-.45V292c0-.17-.11-.25-.24-.18h0a.59.59,0,0,0-.24.46v3.64C82.62,296.08,82.73,296.16,82.86,296.08Z"
        style="fill: rgb(255, 255, 255); transform-origin: 82.86px 293.953px"
        id="elkt4j0k8in4"
        class="animable"
      ></path>
      <path
        d="M223.32,212.47a.29.29,0,0,1-.28-.28v-1.62a.29.29,0,0,1,.14-.24l1.3-.75a.28.28,0,0,1,.38.1.27.27,0,0,1-.1.37l-1.17.68v1.46A.28.28,0,0,1,223.32,212.47Z"
        style="fill: rgb(255, 255, 255); transform-origin: 223.968px 211.006px"
        id="elzw8frxpn7"
        class="animable"
      ></path>
      <path
        d="M226.86,210.42a.28.28,0,0,1-.28-.27V209l-.88.51a.28.28,0,0,1-.38-.1.27.27,0,0,1,.1-.37l1.3-.75a.28.28,0,0,1,.28,0,.26.26,0,0,1,.13.23v1.63A.27.27,0,0,1,226.86,210.42Z"
        style="fill: rgb(255, 255, 255); transform-origin: 226.207px 209.336px"
        id="el76efsbvrcce"
        class="animable"
      ></path>
      <path
        d="M225.56,214.24a.28.28,0,0,1-.24-.13.28.28,0,0,1,.1-.38l1.16-.67v-1.47a.28.28,0,0,1,.28-.27.27.27,0,0,1,.27.27v1.63a.28.28,0,0,1-.13.24l-1.3.75Z"
        style="fill: rgb(255, 255, 255); transform-origin: 226.206px 212.78px"
        id="el3eafpxvqtuw"
        class="animable"
      ></path>
      <path
        d="M223.32,215.54a.33.33,0,0,1-.14,0,.29.29,0,0,1-.14-.24v-1.62a.29.29,0,0,1,.28-.28.28.28,0,0,1,.27.28v1.14l.89-.51a.28.28,0,1,1,.28.48l-1.3.75A.37.37,0,0,1,223.32,215.54Z"
        style="fill: rgb(255, 255, 255); transform-origin: 223.985px 214.474px"
        id="ellu4muehf6mr"
        class="animable"
      ></path>
      <path
        d="M221.31,213.38l-.53.21a0,0,0,0,1-.07,0,1.86,1.86,0,0,0-.13-.34s0-.11,0-.17l.3-.67c0-.06,0-.13,0-.15l-.42-.31s-.07,0-.11.09l-.37.6c0,.06-.08.11-.11.1a1.17,1.17,0,0,0-.32,0s-.05,0-.06-.06l-.05-.67s0-.05-.07,0l-.57.34a.13.13,0,0,0-.07.12l-.06.71a.33.33,0,0,1-.07.16,2.7,2.7,0,0,0-.28.31.19.19,0,0,1-.12.08l-.42-.22a.15.15,0,0,0-.09.11l-.37.7c0,.06-.06.13,0,.15l.34.37a.28.28,0,0,1,0,.16,3.45,3.45,0,0,0-.12.43.26.26,0,0,1-.09.15l-.51.37a.18.18,0,0,0-.06.13v.76c0,.05,0,.08.06.06l.52-.23s.06,0,.07,0a1.83,1.83,0,0,0,.14.35.3.3,0,0,1,0,.17l-.29.65c0,.08,0,.15,0,.15l.42.33s.06,0,.1-.09l.37-.6c0-.07.08-.11.11-.11a.69.69,0,0,0,.32,0,.07.07,0,0,1,.06.07l.06.66s0,.06.07,0l.57-.33a.19.19,0,0,0,.07-.12l.05-.72a.28.28,0,0,1,.08-.15,2.08,2.08,0,0,0,.27-.32c.05-.05.09-.09.12-.07l.42.2s.07,0,.11-.09l.36-.7c0-.07.05-.14,0-.16l-.33-.37a.19.19,0,0,1,0-.15,3.39,3.39,0,0,0,.11-.43.35.35,0,0,1,.09-.16l.51-.37a.19.19,0,0,0,.07-.13v-.76C221.37,213.38,221.34,213.36,221.31,213.38Zm-2.19,3c-.53.31-1,0-1-.73a2.35,2.35,0,0,1,1-1.86c.54-.3,1,0,1,.74A2.31,2.31,0,0,1,219.12,216.4Z"
        style="fill: rgb(255, 255, 255); transform-origin: 219.135px 215.135px"
        id="el4ampr2e8mlb"
        class="animable"
      ></path>
      <path
        d="M134.37,264.81V263l-27.49,15.88a1.89,1.89,0,0,0-.95,1.43c0,.49.42.64.95.33Z"
        style="fill: rgb(186, 104, 200); transform-origin: 120.15px 271.901px"
        id="eldqngmhxij6p"
        class="animable"
      ></path>
      <g id="el89j7615o1fx">
        <path
          d="M212.29,218.13a1.07,1.07,0,0,0-.37.14L134.37,263v1.77L211.92,220a2.08,2.08,0,0,0,.68-.64,2.49,2.49,0,0,0,.2-.4,1.07,1.07,0,0,0,.07-.39A.44.44,0,0,0,212.29,218.13Z"
          style="
            fill: rgb(255, 255, 255);
            opacity: 0.5;
            transform-origin: 173.62px 241.438px;
          "
          class="animable"
        ></path>
      </g>
      <path
        d="M135.75,263.25a3.35,3.35,0,0,1-1.38,2.63c-.76.43-1.37,0-1.37-1.05a3.28,3.28,0,0,1,1.37-2.62C135.12,261.77,135.75,262.23,135.75,263.25Z"
        style="fill: rgb(186, 104, 200); transform-origin: 134.375px 264.044px"
        id="elymuk3884zd"
        class="animable"
      ></path>
      <g id="el75pmi4fsc7y">
        <path
          d="M135.75,263.25a3.35,3.35,0,0,1-1.38,2.63c-.76.43-1.37,0-1.37-1.05a3.28,3.28,0,0,1,1.37-2.62C135.12,261.77,135.75,262.23,135.75,263.25Z"
          style="
            fill: rgb(255, 255, 255);
            opacity: 0.5;
            transform-origin: 134.375px 264.044px;
          "
          class="animable"
        ></path>
      </g>
      <path
        d="M135.26,263.53a2.15,2.15,0,0,1-.89,1.7c-.49.28-.89,0-.89-.68a2.12,2.12,0,0,1,.89-1.69C134.86,262.58,135.26,262.87,135.26,263.53Z"
        style="fill: rgb(186, 104, 200); transform-origin: 134.37px 264.046px"
        id="elsmebruun4e"
        class="animable"
      ></path>
    </g>
  </g>
  <defs>
    <filter id="active" height="200%">
      <feMorphology
        in="SourceAlpha"
        result="DILATED"
        operator="dilate"
        radius="2"
      ></feMorphology>
      <feFlood flood-color="#32DFEC" flood-opacity="1" result="PINK"></feFlood>
      <feComposite
        in="PINK"
        in2="DILATED"
        operator="in"
        result="OUTLINE"
      ></feComposite>
      <feMerge>
        <feMergeNode in="OUTLINE"></feMergeNode>
        <feMergeNode in="SourceGraphic"></feMergeNode>
      </feMerge>
    </filter>
    <filter id="hover" height="200%">
      <feMorphology
        in="SourceAlpha"
        result="DILATED"
        operator="dilate"
        radius="2"
      ></feMorphology>
      <feFlood
        flood-color="#ff0000"
        flood-opacity="0.5"
        result="PINK"
      ></feFlood>
      <feComposite
        in="PINK"
        in2="DILATED"
        operator="in"
        result="OUTLINE"
      ></feComposite>
      <feMerge>
        <feMergeNode in="OUTLINE"></feMergeNode>
        <feMergeNode in="SourceGraphic"></feMergeNode>
      </feMerge>
      <feColorMatrix
        type="matrix"
        values="0   0   0   0   0                0   1   0   0   0                0   0   0   0   0                0   0   0   1   0 "
      ></feColorMatrix>
    </filter>
  </defs>
</svg>

<script type='text/javascript'>document.addEventListener('DOMContentLoaded', function () {window.setTimeout(document.querySelector('svg').classList.add('animated'),1000);})</script>