/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* //////////////////////////////                            BLOC VERTS FONCES EN DEBUT ET FIN DE PAGE DE COURS ----->   fond transparent     ///////////////////////////////////////////////*/
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.container-fluid > .row > .col-md-12 {
  background-color: transparent;
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* ////////////////////////////////////////////////////////////////////////////                            STATS ETUDIANTS        /////////////////////////////////////////////////////////////////////////////////*/
/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.course-content .statcontainer {
  border: none;
  border-radius: 0;
  padding: 10px;
  margin-bottom: 20px;
  background-color: #fff !important;
}

/*  BLOC TEMPS PASSE */

.course-content .statflex.time {
  width: 220px;
  padding: 10px 10px 10px 10px;
  border-left: 1px solid #dee2e6;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  align-items: center;
  background-color: #fff !important;
  color: black;
}

/* MASQUER LA LIGNE NOIRE ENTRE LE CHIFFRE ET LE TEXTE */

.course-content .stat .underline {
  display: block;
  height: 0px; /* NE PAS SUPPRIMMER LE TRAIT MAIS LE RENDRE INVISIBLE */

  margin: 3px 0 7px 15%;
}

/* CHANGEMENT DE DISPOSITION AFFICHAGE DES STATS*/

/* GESTION DU RESPONSIVE / LES STATS S EMPILENT AU LIEU DE COTE A COTE */

@media (max-width: 700px) {
  .course-content .statflex {
    display: block;
    width: calc(100% - 100px);
  }

  .course-content .statflex.activities:not(.full) .stat.student .nombre,
  .course-content .statflex.activities:not(.full) .stat.student .item,
  .course-content .statflex.activities:not(.full) .stat.student .underline {
    margin-left: 20% !important;
  }
}

@media (max-width: 500px) {
  .course-content .statflex.activities:not(.full) .stat.student .nombre,
  .course-content .statflex.activities:not(.full) .stat.student .item,
  .course-content .statflex.activities:not(.full) .stat.student .underline {
    margin-left: 10% !important;
  }
}

@media (max-width: 300px) {
  .course-content .statcontainer.student {
    display: block;
    padding: 0;
    margin: auto;
  }

  .course-content .statflex.activities:not(.full) .stat.student .nombre,
  .course-content .statflex.activities:not(.full) .stat.student .item,
  .course-content .statflex.activities:not(.full) .stat.student .underline {
    margin-left: 10% !important;
  }
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* ////////////////////////////////////////////////////////////////////////////                    BARRE DE NAVIGATION INTERNE              ///////////////////////////////////////////////////////////////*/
/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* */

.moremenu.observed > .nav-tabs {
  background-color: #fff;
}

/* COULEUR DE SOULIGNEMENT DE LA BARRE POUR LA RUBRIQUE ACTIVE  */
.moremenu .nav-link.active {
  background-color: #f8f9fa;
  border-color: transparent;
  border-bottom-color: #005341;
}

/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* //////////////////////////////                                LOG IN CONNEXION                 ///////////////////////////////////////////////*/
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/* couleur du fond des submit a faiire*/

.col-xl-6.col-sm-8 > .card > .card-body {
  background-color: #005341;
}

.col-xl-6.col-sm-8 > .card > .card-body > .card-title > h2 {
  color: #fff !important   ;
  text-align: center;
  font-size: 1.5rem;
}

h1.card-header.text-center {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: #fff !important ;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 1rem;
}

.card {
  border-radius: 1rem;
}

/* ESSAI DE DEGRADE SOUS LA PARTIE LEARNING CONTENT */

div#learningcontent {
  position: relative; /* Assure que le positionnement de l'élément ::after soit relatif à cet élément */
  padding-bottom: 15px;
}

div#learningcontent::after {
  content: ""; /* Obligatoire pour que le pseudo-élément soit affiché */
  position: absolute; /* Positionne l'élément de façon absolue par rapport à son parent */
  bottom: 0; /* Positionne le début du pseudo-élément en haut de son parent */
  left: 0; /* Positionne le début du pseudo-élément à gauche de son parent */
  width: 100%; /* Assure que le pseudo-élément couvre toute la largeur de son parent */
  height: 5px; /* Définit la hauteur du pseudo-élément */
  background: linear-gradient(
    91deg,
    rgba(218, 71, 26, 1) 5%,
    rgba(46, 90, 162, 1) 26%,
    rgba(30, 81, 65, 1) 51%,
    rgba(100, 169, 127, 1) 75%,
    rgba(66, 159, 52, 1) 93%
  );
}

/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* //////////////////////////////                                HOME PAGE        CONNEXION                   ///////////////////////////////////////////////*/
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

#page-content {
  padding: 0 !important;
}

#page-header h1.h2 {
  font-weight: 700;
  text-align: center;
  background-color: transparent;
}

.col-md-12 {
  flex: 0 0 100%;
  max-width: 70%;
  position: relative;
  background-color: #005341;
  margin: auto;
  border-radius: 2rem;

  padding-top: 1rem;

  padding-bottom: 1rem;
}

.col-md-4.signinform {
  padding-left: 0;
  padding-right: 20px;

  margin: auto;

  background-color: #005341;
  color: #fff;
  float: none;
}

.fpsignup {
  background-color: white;
  color: #000;
  border-radius: 1rem;

  padding: 1.5rem;

  -webkit-box-shadow: none; /* Réinitialise la propriété */
  box-shadow: none; /* Réinitialise la propriété */
  border: none; /* Réinitialise la propriété */
  margin-top: 3rem;
  margin-bottom: 2rem;
}

/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* //////////////////////////////           SUPPRESSION DU BANDEAU SUP - EPAISSEUR A ZERO           ///////////////////////////////////////////////*/
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

div#learningcontent {
  border: 0 !important;
  border-top: 0 !important;
}

/* SUPPRESSION DU BANDEAU OMBRE SUPERIEUR */
div#page {
  margin-top: 35px;
}

/* ajout d'un dégradé en partie basse de la navigation=> il faut un pseudo sélecteur after  */

.navbar.fixed-top {
  padding-top: 0.2rem; /* Ajoute un espace en haut j'ai mini de 1/10 */
  padding-bottom: 0.2rem; /* Ajoute un espace en bas  j'ai mini de 1/10 */
  height: 55px;

  /* Définit la hauteur de la barre de navigation    height: 55px; */
}

/* Pseudo-élément pour créer le dégradé dans le border-bottom */

.navbar.fixed-top::after {
  content: ""; /* Ajoute un contenu vide pour le pseudo-élément */
  position: absolute; /* Positionne le pseudo-élément */
  bottom: 0; /* Positionne le pseudo-élément au bas de la barre de navigation */
  left: 0; /* Positionne le pseudo-élément au début de la barre de navigation */
  width: 100%; /* Définit la largeur du pseudo-élément */
  height: 3px; /* Définit la hauteur du dégradé */
  /* Dégradé pour le border-bottom */
  background: rgb(218, 71, 26); /* Couleur de fond de secours */
  background: linear-gradient(
    91deg,
    rgba(218, 71, 26, 1) 5%,
    rgba(46, 90, 162, 1) 26%,
    rgba(30, 81, 65, 1) 51%,
    rgba(100, 169, 127, 1) 75%,
    rgba(66, 159, 52, 1) 93%
  ); /* Dégradé linéaire */
  z-index: -1; /* Pour placer le dégradé derrière le contenu de la barre de navigation */
}

/* NOM DU SITE ENTETE EN HAUT A GAUCHE PROCHE DU LOGO*/
/*  ---->a revoir pour le faire dans les reglages */
.navbar-brand > .d-md-inline {
  display: none !important;
}

/*  LOUPE dans la RECHERCHE DE COURS ET AUTRE ;ICO SOUS FORME DE BOUTONS LIENS (autre exemple dans le pied de page)
 NE MODIFIE PAS LA LOUPE DANS LA NAV  */
.input-group .btn .icon {
  color: #fff;
}

nav .input-group .btn .icon {
  color: #000;
}

/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* /////////////////////////////////              BOUTON HAMBURGER POUR SOMMAIRE DES COURS    /////////////////////////////////////////////////*/
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/* BOUTON HAMBURGER ET LOUPE*/

.btn.nav-link {
  /* Couleur du texte */
  color: black;

  /* changer le fond et la bordure */
  background-color: #fff;
  border-radius: 0.5rem; /* coin arrondis du hamburger */
  height: fit-content;
}

/* AJUSTEMENT DE LA POSITION DE LA LOUPE PAR RAPPORT A TOP ZERO*/

.navbar-nav.ml-auto .d-none.d-lg-block {
  margin-top: 10px !important;
  margin-right: 10px;
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* ////////////////////////////////////  OMBRE PORTEE A DROITE DE LA NAVIGATION HAMBURGER  /////////////////////////////////////////////////*/
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

#nav-drawer {
  top: 50px;
  height: calc(100% - 50px);
  scrollbar-width: thin;
  scrollbar-color: #868e96 #f8f9fa;
  box-shadow: inset -62px 0px 43px -61px rgba(0, 0, 0, 0.4);
}

.drawer.drawer-left {
  width: initial;
  max-width: 290px;
  background-color: transparent;
  height: initial;
  top: 0;
  left: 0;
  visibility: visible;
}

.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: wrap;
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* ////////////////////////////////////  LIENS DU SOMMAIRE  /////////////////////////////////////////////////*/
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.courseindex .courseindex-item.pageitem {
  background-color: #005341;
  color: #fff;

}

.courseindex .courseindex-item.pageitem:hover {
  background-color: #007e62;
  color: #fff;

  .icon {
color : #fff;
}
}

.courseindex .icon {
    font-size: 12px;
color : #fff;
}

/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* /////////////////////////////////////////////////////////////             LES CARDS DE COURS              ////////////////////////////////////////////////////*/
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/* /////////////////////////////////////////////////////////////           CORRECTION DES MARGES DES SECTIONS QUAND AFFICHEES EN VIGNETTES          ////////////////////////////////////////////////////*/

.course-content ul.moofactory {
  margin: 1rem;
}

/* * * * * * *  ARRONDIS SUR LES COINS SUPERIREURS DE L  IMAGE NECESSAIRE SI IMAGE NON TRANSPARENTE DONC FAIT ICI EN PREVENTIF  * * * * * * /


/* arrondis de l'element du bas de la card nécessaire au préalable,
pour voir les arrondis inferieurs de la card*/

.dashboard-card-img {
  background: center/cover;
  border-radius: 1rem 1rem 0 0; /* arrondi seulement en haut */
}

.d-flex .align-items-start {
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

/*  ZONE INFOS DU COURS DANS LA CARD */

.block .block-cards .course-info-container {
  padding: 0.8rem;
}

/* Style de la carte dans un deck de cartes */
.card-deck .card {
  /* Couleur de fond */
  background-color: #f1f0f0;

  /* Arrondi des coins */
  border-radius: 1rem;

  /* Transition fluide de l'ombre de la boîte */
  -webkit-transition: box-shadow 0.2s ease;
  -o-transition: box-shadow 0.2s ease;
  transition: box-shadow 0.2s ease;

  /* Ajout d'un contour gris foncé */
  box-shadow: 0 0 0 1px #c8c8c8; /* Utiliser la couleur grise foncée de votre choix */
}

/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* ///////////////              MARGES DES CARDS POUR LES ECRANS DE 300PX DE LARGE  ////////////////////////*/
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

@media (min-width: 280px) {
  .course-content ul.moofactory {
    margin: 1rem;
  }

  ul.moofactory.thumbnail {
    display: grid;

    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 300px));
    grid-auto-flow: dense;
  }
}

@media (min-width: 400px) {
  .course-content ul.moofactory {
    margin: 1rem;
  }

  ul.moofactory.thumbnail {
    display: grid;

    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-auto-flow: dense;
  }
}

/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* ///////////////              TAUX DE PROGRESSION DANS LA CARD + ACTIONS POUR LE COURS 3 PETITS POINTS  ////////////////////////*/
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.bg-white {
  background-color: #f1f0f0 !important;
}

.card-deck .card:hover {
  /* Ombre portée au survol */
  box-shadow: 10px10px 1px 1px rgba(0, 0, 0, 0.9);
}

/* ARRONDIS INFERIEURS */
.dashboard-card-deck .dashboard-card .dashboard-card-footer {
  margin-left: 0.8rem;
  margin-right: 0.8rem;
}

.dashboard-list-img {
  height: 3rem;
  width: 20rem;
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
}

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* ////////////////////////////////////  BOUTONS DE NAVIGATION LIES AUX COURS /////////////////////////////////////////////////*/
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.btn-outline-secondary {
  /* Ajouter un dégradé sur la bordure */
  border-image: linear-gradient(
    to right,
    rgba(255, 0, 0, 0.5),
    rgba(0, 255, 0, 0.5)
  ); /* Dégradé linéaire de rouge à vert avec une opacité de 0.5 */
  border-image-slice: 1; /* Définir la largeur de la bordure pour le dégradé */

  /* Ajouter des coins arrondis */
  border-radius: 3px;
}

/* ////////////////////////////////////  AJOUT D UN FOND BLANC INTERNE POUR CREER DES ARRONDIS  /////////////////////////////////////////////////*/

.btn-outline-secondary dropdown-toggle {
  border-radius: 3px;
  background-color: #ff0000;
}

/* ////////////////////////////////////  CONTOUR SUR LE BOUTON APRES DEMANDE DE TRI SUR LES COURS (focus) /////////////////////////////////////////////////*/

.btn-outline-secondary:focus,
.btn-outline-secondary.focus {
  outline: 0.2rem solid #738699;
  -webkit-box-shadow: inset 0 0 0 2px #373a3c;
  box-shadow: inset 0 0 0 1px #73859f;
}

/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* ------------------------------------------------------   COULEUR DE FOND et CONTOURS DES BOUTONS  DE COURS   --------------------------------------------------/*/
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

#page-my-index .btn-outline-secondary {
  background-color: #fff;
  color: #000;
  -webkit-box-shadow: inset 0 0 3px rgba(22, 157, 91, 0.5),
    0 0 0 1px rgba(218, 71, 26, 0.3), 0 0 0 1px rgba(30, 81, 65, 0.5),
    0 0 0 2px rgba(66, 159, 52, 0.3);
  box-shadow: inset 0 0 3px rgba(22, 157, 91, 0.5),
    0 0 0 1px rgba(218, 71, 26, 0.3), 0 0 0 1px rgba(30, 81, 65, 0.5),
    0 0 0 2px rgba(66, 159, 52, 0.3);
  border: none;
  border-radius: 6px;
  padding: 5px 11px;
}

/* ------------------------------------------------------   MARGE INTER BOUTONS  --------------------------------------------------/*/
.mr-1,
.mx-1 {
  margin-right: 0.5rem !important;
}

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* ////////////////////////////////////                              PIED DE PAGE                         /////////////////////////////////////////////////*/
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

#page-footer.py-3 text-light {
  color: #000;
}

#page-footer a {
  color: #000;
}

footer .col-md-8 {
  flex: 0 0 100%;
  max-width: 100%;
  color: #000;
}

/* NE PAS AFFICHER LE GLOBE (lien lms) */
footer .col-md-4 {
  display: none;
}

/* TITRE H3 IFOCOP A DROITE DU PIED DE PAGE*/

.brandbox > h3 {
  color: #000;
}

#course-footer + .row {
  background-color: #fff; /* anciennement vert #005341 */
}

#page-footer {
  position: relative;
  background-color: #fff; /* anciennement vert #005341 */
}

#page-site-index .fp-block {
  display: block;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 15px;
  background-color: #ff0000;
}

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* ////////////////////////////////////             INTERFACE BACKOFFICE MOODLE         /////////////////////////////////////////////////*/
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/* //////////////////////////////////// ////////////////////////////////////////////////////////////*/

/*  LOGO ADMIN PRESENTATION */
/**/
.siteadminlink .btn,
.teacherdash .btn {
  background-color: #000000 !important;
  border-color: #000000 !important;
}

/* TEXTE "Mode édition" EN HAUT A DROITE sans bouton*/
.editmode-switch-form .input-group label.text-primary {
  color: #000 !important;
}

/* BOUTON INTERRUPTEUR du Mode édition EN HAUT A DROITE */

.custom-control-input:checked ~ .custom-control-label::before {
  background-color: #000000 !important;
  border-color: #000000 !important;
}

.moremenu.observed {
  opacity: 1;
  background-color: #fff;
}
.moremenu {
  opacity: 1;
  height: 60px;
}
