.btn-outline-secondary {
    background-color: #666;
    padding: 0.5rem 1rem 0.5rem 1rem   ;
 margin-left: 1rem;
 margin-right: 1rem;
 border-radius: 5px;

    margin: 1rem 2.5rem 5px 0;
    border-radius: 5px;
    border-image: none;


}

.btn-outline-secondary {
    background-color: #696969;
    padding: 0.5rem;
    margin: 1rem 2.5rem 5px 0;
    border-radius: 5px;

}

.d-flex {

    
    .btn-outline-secondary {
        border-image: linear-gradient(to right, rgba(255, 0, 0, .5), rgba(0, 255, 0, .5));
        border-image-slice: 0;
        border-radius: 0;
    }


}


.activity-item:not(.activityinline) {
    border: 0;
    padding: 1rem;
}


.btn-outline-secondary {
    /* Ajouter un dégradé sur la bordure */
    border-image: linear-gradient(
      to right,
      rgba(255, 0, 0, 0.5),
      rgba(0, 255, 0, 0.5)
    ); /* Dégradé linéaire de rouge à vert avec une opacité de 0.5 */
    border-image-slice: 1; /* Définir la largeur de la bordure pour le dégradé */
  
    /* Ajouter des coins arrondis */
    border-radius: 3px;
  }