<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>

button{

    width: 50%;
    height: 50%;
    background-color: #f0f0f0;
    border: none;
    border-radius: 0.5rem;
    font-size: 1rem;
    font-weight: 700;
    color: #000;
    cursor: pointer;
    outline: none;
  position: relative;


}


.element::before {
  content: '';
  position: absolute;
  top: -5px;
  right: -5px;
  bottom: -5px;
  left: -5px;
  border: 5px solid green;
}
    </style>
    <title>Document</title>
</head>
<body>
    <button></button>
</body>
</html>