
nav .more-nav .nav-tabs > li.nav-item > a{

  background-color: #f8f9fa;
  border-color: transparent;
  border-bottom-color: #01a300;
  color: #01a300;
  a {
    margin: 0;
  }


}


.moremenu.observed>.nav-tabs {
  background-color: #fff;
  p {

      margin: 0;
  }
}

  .moremenu.observed>.nav-tabs:active {
      background-color: #fff;

  }


  .moremenu .nav-link.active {
    background-color: #ffff;

    border-bottom-color: #01a300;
}


/**************************************************************************************/
.moremenu.observed > .nav-tabs {

  background-color: #FFF;
}



/* COULEUR DE SOULIGNEMENT DE LA BARRE POUR LA RUBRIQUE ACTIVE  */
.moremenu .nav-link.active {
    background-color: #f8f9fa;
    border-color: transparent;
    border-bottom-color: #01a300;
}


/************************************************************************************/


nav .more-nav .nav-tabs {
  .nav-item{

    .moremenu .nav-link {
      height: 40px;
      display: flex;
      /* align-items: center;
      border-right: none;
      border-bottom: solid 3px transparent;
      border-left: none;
      border-top: none; */
      color: #01a300;
      font-weight:bold;
      font-size:large;
      text-align: right;


  }
  }}

